.error {
    color: red;
    font-size: 12px;
    margin-top: 8px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.form-group {
    margin-bottom: 2rem;
}

/*--------------------
	form
--------------------*/
.submit-form input[type="text"],
.submit-form input[type="email"],
.submit-form input[type="password"],
.submit-form textarea,
.submit-form select {
    font-size: 14px;
    display: block;
    color: #333;
    width: 100%;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-bottom: 2px solid #ccc;
    padding: 9.5px 0;
}
.submit-form input[type="text"]:hover,
.submit-form input[type="text"]:active,
.submit-form input[type="text"]:focus,
.submit-form input[type="email"]:hover,
.submit-form input[type="email"]:active,
.submit-form input[type="email"]:focus,
.submit-form input[type="password"]:hover,
.submit-form input[type="password"]:active,
.submit-form input[type="password"]:focus,
.submit-form textarea:hover,
.submit-form textarea:active,
.submit-form textarea:focus,
.submit-form select:hover,
.submit-form select:active,
.submit-form select:focus {
    border-bottom-color: #333;
}
.submit-form ::placeholder {
    color: #777;
    opacity: 1;
}
.submit-form :-ms-input-placeholder {
    color: #777;
}
.submit-form ::-ms-input-placeholder {
    color: #777;
}
.submit-form label {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.submit-form .form-link {
	text-align:center;
}
.submit-form .form-link a {
    padding: 10px;
    display: inline-block;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}
.input-group > input {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1% !important;
    min-width: 0;
    margin-bottom: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border-bottom: 2px solid #ccc;
    /* border-radius: 0.25rem; */
}
.input-group-text:hover {
    border-bottom-color: #333;
}


/*--------------------
	List Page
--------------------*/
/**** Accordian ****/
.modal-header,
.modal-footer {
	background: #f4f4f4;
}
.modal-title {
	width: 100%;
	text-align: center;
}
.modal .card-header .card-link {
	display: block;
}

/**** Filter ****/
.sort-btn,
.filter-btn {
	border: 1px solid transparent;
	background: #fff;
	padding: 7px 10px;
	cursor: pointer;
	min-width: 100px;
}
@media (max-width: 767px) {
	.filter-wrapper {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
	.sort-btn,
	.filter-btn {
		width: 50%;
		float: left;
		background: #333;
		color: #fff;
		padding: 10px;
	}
	.filter-btn {
		border-left: 1px solid #fff;
	}
}
@media (min-width: 768px) {
	.sort-by,
	.filter-category {
		display: inline-block;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		margin-left: 15px;
	}
}
/**** List Filtar Modal / Popup ****/

.filter-modal .modal-body {
	padding: 0;
	height: 400px;
	overflow: auto;
}
.filter-modal .card-header .card-link[aria-expanded="false"]:before {
	font-family: 'FontAwesome';
	content: "\f105";
	float: right;
	font-size: 16px;
	margin-left: 10px;
}
.filter-modal .card-header .card-link[aria-expanded="true"]:before {
	font-family: 'FontAwesome';
	content: "\f107";
	float: right;
	font-size: 16px;
	margin-left: 10px;
}
.filter-modal .modal-footer .modal-btn {
    min-width: 80px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #333;
    background: #333;
    color: #fff;
}

/* -----------------------------------------
	checkbox | radiobtn
----------------------------------------- */
.label-wrapper {
	display: block;
	position: relative;
	padding-left: 25px;
	line-height: 30px;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */

.label-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 7px;
	left: 0;
	height: 14px;
	width: 14px;
	border: 2px solid #333;
}
.radiobtn .checkmark {
	border-radius: 100%;
}
/* Style the checkmark/indicator */

.checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	top: 0px;
	left: 3px;
	width: 5px;
	height: 10px;
	border: solid #333;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: auto;
}
.radiobtn .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin: auto;
	background: #333;
}
/* Show the checkmark when checked */

.label-wrapper input:checked ~ .checkmark:after {
	display: block;
}


.inner-wrapper {
	margin: 80px 0;
}
.lezada-testimonial {
	background-color:#f7f7f7;
	padding: 100px 0;
}
@media (max-width:991px) {
	.lezada-testimonial {
		background-color:#f7f7f7;
		padding: 45px 0;
	}
}
