{% extends 'shop/base.html' %}
{% load shop_tag %}

{% block content %}

	<!-- End of search overlay -->
	<div class="wrapper">
		<!-- shop page content -->
		<div class="shop-wrapper">
			<div class="shop-page-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<!-- shop product content -->
							<div id="detaills">
							<div class="shop-product">
								<div class="row pb-100 ">

									<div class="col-lg-6 mb-sm-70">
											<div class="new_bedge">
											<div class="single-product__floating-badges">
										<span class="onsale">-{{product.distributor_price}}%</span>
<!--									<span class="hot">hot</span>-->
										</div>
											</div>
										<!--======= shop product big image gallery =======-->
										<div class="shop-product__big-image-gallery-wrapper mb-30">
											<div class="single-product__floating-badges single-product__floating-badges--shop-product">
<!--												<span class="hot">hot</span>-->
											</div>
											<div class="shop-product-rightside-icons">
<!--												<span class="wishlist-icon">-->
<!--													<a href="#"-->
<!--														data-tippy="Add to wishlist"-->
<!--														data-tippy-placement="left"-->
<!--														data-tippy-inertia="true"-->
<!--														data-tippy-animation="shift-away"-->
<!--														data-tippy-delay="50" data-tippy-arrow="true"-->
<!--														data-tippy-theme="sharpborder">-->
<!--														<i class="ion-android-favorite-outline"></i>-->
<!--													</a>-->
<!--												</span>-->
												<span class="enlarge-icon">
													<a class="btn-zoom-popup" href="#"
														data-tippy="Click to enlarge"
														data-tippy-placement="left"
														data-tippy-inertia="true"
														data-tippy-animation="shift-away"
														data-tippy-delay="50"
														data-tippy-arrow="true"
														data-tippy-theme="sharpborder">
														<i class="ion-android-expand"></i>
													</a>
												</span>
											</div>
											<div class="shop-product__big-image-gallery-slider">
												{% if product.image != '' %}
												<div class="single-image">
													<img src="{{ product.image.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image2 != '' %}
												<div class="single-image">
													<img src="{{ product.image2.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image3 != '' %}
												<div class="single-image">
													<img src="{{ product.image3.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image4 != '' %}
												<div class="single-image">
													<img src="{{ product.image4.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image5 != '' %}
												<div class="single-image">
													<img src="{{ product.image5.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image6 != '' %}
												<div class="single-image">
													<img src="{{ product.image6.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image7 != '' %}
												<div class="single-image">
													<img src="{{ product.image7.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image8 != '' %}
												<div class="single-image">
													<img src="{{ product.image8.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image9 != '' %}
												<div class="single-image">
													<img src="{{ product.image9.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
												{% if product.image10 != '' %}
												<div class="single-image">
													<img src="{{ product.image10.url }}" class="img-fluid" alt="">
												</div>
												{% endif %}
											</div>
										</div>
										<!--======= shop product big image gallery end =======-->

										<!--======= shop product small image gallery =======-->
										<div class="shop-product__small-image-gallery-wrapper">
											<div class="shop-product__small-image-gallery-slider">
												{% if product.image != '' %}
												<div class="single-image">
													<img src="{{ product.image.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image2 != '' %}
												<div class="single-image">
													<img src="{{ product.image2.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image3 != '' %}
												<div class="single-image">
													<img src="{{ product.image3.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image4 != '' %}
												<div class="single-image">
													<img src="{{ product.image4.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image5 != '' %}
												<div class="single-image">
													<img src="{{ product.image5.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image6 != '' %}
												<div class="single-image">
													<img src="{{ product.image6.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image7 != '' %}
												<div class="single-image">
													<img src="{{ product.image7.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image8 != '' %}
												<div class="single-image">
													<img src="{{ product.image8.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image9 != '' %}
												<div class="single-image">
													<img src="{{ product.image9.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
												{% if product.image10 != '' %}
												<div class="single-image">
													<img src="{{ product.image10.url }}" class="img-fluid" alt="">
												</div>
												{% endif%}
											</div>
										</div>
										<!--======= shop product small image gallery end =======-->
									</div>

									<div class="col-lg-6">
										<div class="shop-product__description">
<!--											<div class="shop-product__rating mb-15">-->
<!--												<span class="product-rating">-->
<!--													<i class="active ion-android-star"></i>-->
<!--													<i class="active ion-android-star"></i>-->
<!--													<i class="active ion-android-star"></i>-->
<!--													<i class="active ion-android-star"></i>-->
<!--													<i class="ion-android-star-outline"></i>-->
<!--												</span>-->

<!--												<span class="review-link ml-20">-->
<!--													<a href="#">(3 customer reviews)</a>-->
<!--												</span>-->
<!--											</div>-->

											<div class="shop-product__title mb-15">
												<h2>{{ product.product_name }}</h2>
											</div>
{% if user.is_authenticated %}
											<div class="shop-product__price mb-30">
												<span class="main-price discounted">₹{% check product %}</span>
												<span class="discounted-price">₹{% dis_price_include_tax product %}</span>
											</div>
											{% else %}
											<div class="shop-product__price mb-30">

												<span class="discounted-price">₹{% check product %}</span>
											</div>

													    {% endif %}

													{% if main_product.variant_tag.all %}
											<div class="varient_new">
												Choose Varaint
											</div>
<!--											<div class="shop-product__short-desc mb-50">-->
<!--												{{ product.description }}-->
<!--												&lt;!&ndash; Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology helps keep you-->
<!--												dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button waist with-->
<!--												zip fly provides a classic look and feel . Back welt pockets and coin pocket for storage. Dual side-->
<!--												seam pockets. Heat transferred logos. 70% nylon 24% polyester 6% spandex. Imported. &ndash;&gt;-->
<!--											</div>-->
													{% for k in main_product.variant_tag.all %}
											{% if k.product.delete == False  and k.variant_based_on == 'size' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Size: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.product.size}}">-->
														{{ k.product.size }}

														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
												</a>
											</div>
												{% endif %}
													{% if k.product.delete == False  and k.variant_based_on == 'colour' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Colour: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
														{{ k.variant_name }}
<!--														<input type="button" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
												</a>
											</div>
												{% endif %}
													{% if k.product.delete == False  and k.variant_based_on == 'material' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Material: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														{{ k.variant_name }}

														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
												</a>
											</div>
												{% endif %}
													{% if k.product.delete == False  and k.variant_based_on == 'weight' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Weight: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														{{ k.variant_name }}

														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
<!--												</a>-->
											</div>
												{% endif %}
													{% if k.product.delete == False  and k.variant_based_on == 'flavour' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Flavour: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														{{ k.variant_name }}

														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
<!--												</a>-->
											</div>
												{% endif %}
													{% if k.product.delete == False  and k.variant_based_on == 'other' %}
											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Other: </div>
												<a href="{% url 'product_variant' k.product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														{{k.variant_name}}
														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
<!--												</a>-->
											</div>
												{% endif %}
												{% endfor %}
												{% endif %}

											<div class="shop-product__block shop-product__block--size mb-20">
												<div class="shop-product__block__title">Variant: </div>
												<a href="{% url 'product_variant' main_product.pk  main_product.pk %}" >
												<div class="shop-product__block__value">
													<div class="shop-product-size-list">
<!--														<input type="button" class="variant" id="{{k.product.pk}}" value="{{k.variant_name}}">-->
														{{main_product.product_name}}
														<!--<span class="single-size">L</span>-->
														<!--<span class="single-size">M</span>-->
														<!--<span class="single-size">S</span>-->
														<!--<span class="single-size">XS</span>-->
													</div>
												</div>
												</a>
											</div>
											<!-- <div class="shop-product__block shop-product__block--quantity mb-40">
												<div class="shop-product__block__title">Quantity: </div>
												<div class="shop-product__block__value">
													<div class="pro-qty d-inline-block mx-0 pt-0">
														<input type="text" value="1">
													</div>
												</div>
											</div> -->

											<form action="{% url 'product_detail' product.id product.slug %}" method="post">
												{% csrf_token %}
												{{ form.as_p }}

												<div class="shop-product__buttons mb-40">
													<input class="lezada-button" type="submit" value="Add to cart" class="btn btn-primary" >
												</div>
											</form>

											<!-- <div class="shop-product__buttons mb-40">
												<a class="lezada-button" href="#">add to cart</a>
												<a class="lezada-button-outline ml-20" href="#">
													<i class="ion-android-favorite-outline"></i>
												</a>
											</div> -->

											<!-- other info table -->
											<div class="quick-view-other-info pb-0">
												<table>
<!--													<tr class="single-info">-->
<!--														<td class="quickview-title">SKU: </td>-->
<!--														<td class="quickview-value">12345</td>-->
<!--													</tr>-->

													<tr class="single-info">
														<td class="quickview-title">Categories: </td>
														<td class="quickview-value">
															<a href="{% url 'categry_name' product.category.pk product.category.cat_name %}">{{product.category}}</a>
<!--															<a href="#">Men</a>,-->
<!--															<a href="#">Sunglasses</a>-->
														</td>
													</tr>
<!--													<tr class="single-info">-->
<!--														<td class="quickview-title">Tags: </td>-->
<!--														<td class="quickview-value">-->
<!--															<a href="#">Fashion</a>,-->
<!--															<a href="#">Men</a>-->
<!--														</td>-->
<!--													</tr>-->
													{% if product.brand != '' %}
													<tr class="single-info">
														<td class="quickview-title">Brand: </td>
														<td class="quickview-value">{{product.brand}}
														</td>
													</tr>
													{% endif %}
													{% if product.colour != '' %}
													<tr class="single-info">
														<td class="quickview-title">Colour: </td>
														<td class="quickview-value">{{product.colour}}
														</td>
													</tr>
													{% endif %}
													{% if product.size != '' %}
													<tr class="single-info">
														<td class="quickview-title">Size: </td>
														<td class="quickview-value">{{product.size}}
														</td>
													</tr>
													{% endif %}
													{% if product.material != '' %}
													<tr class="single-info">
														<td class="quickview-title">Material: </td>
														<td class="quickview-value">{{product.material}}
														</td>
													</tr>
													{% endif %}
													{% if product.flavour != '' %}
													<tr class="single-info">
														<td class="quickview-title">Flavour: </td>
														<td class="quickview-value">{{product.flavour}}
														</td>
													</tr>
													{% endif %}
													{% if product.weight != '' %}
													<tr class="single-info">
														<td class="quickview-title">Weight: </td>
														<td class="quickview-value">{{product.weight}}
														</td>
													</tr>
													{% endif %}
													{% if product.ingredients != '' %}
													<tr class="single-info">
														<td class="quickview-title">Ingredients:</td>
														<td class="quickview-value">{{product.ingredients}}
														</td>
													</tr>
													{% endif %}
													{% if product.ingredients != '' %}
													<tr class="single-info">
														<td class="quickview-title">Indications:</td>
														<td class="quickview-value">{{product.indications}}
														</td>
													</tr>
													{% endif %}
													{% if product.special_feature != '' %}
													<tr class="single-info">
														<td class="quickview-title">Special feature:</td>
														<td class="quickview-value">{{product.special_feature}}
														</td>
													</tr>
													{% endif %}
													{% if product.safety_warning != '' %}
													<tr class="single-info">
														<td class="quickview-title">Safety warning:</td>
														<td class="quickview-value">{{product.safety_warning}}
														</td>
													</tr>
													{% endif %}
													{% if product.length != '' %}
													<tr class="single-info">
														<td class="quickview-title">Length:</td>
														<td class="quickview-value">{{product.length}}
														</td>
													</tr>
													{% endif %}
													{% if product.width != '' %}
													<tr class="single-info">
														<td class="quickview-title">Width:</td>
														<td class="quickview-value">{{product.width}}
														</td>
													</tr>
													{% endif %}
													{% if product.height != '' %}
													<tr class="single-info">
														<td class="quickview-title">Height:</td>
														<td class="quickview-value">{{product.height}}
														</td>
													</tr>
													{% endif %}
													<tr class="single-info">
														<td class="quickview-title">Share on: </td>
														<td class="quickview-value">
															<ul class="quickview-social-icons">
																<li><a href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/product/{{product.pk}}/{{product.slug}}/" target="_blank"><i class="fa fa-facebook"></i></a></li>
																<li><a href="http://twitter.com/share?text=text&url=http://127.0.0.1:8000/product/{{product.pk}}/{{product.slug}}/" target="_blank"><i class="fa fa-twitter"></i></a></li>
																<li><a href="https://api.whatsapp.com/send?phone=&text=http://127.0.0.1:8000/product/{{product.pk|urlencode}}/{{product.slug|urlencode}}/" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
<!--																<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
															</ul>
														</td>
													</tr>
												</table>
											</div>
											<!-- End of other info table -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="shop-product__description-tab pt-100">
											<!-- tab navigation -->
											<div class="tab-product-navigation tab-product-navigation--product-desc mb-50">
												<div class="nav nav-tabs justify-content-center" id="nav-tab2" role="tablist">
													<a class="nav-item nav-link active" id="product-tab-1" data-toggle="tab" href="#product-series-1" role="tab" aria-selected="true">Description</a>
<!--													<a class="nav-item nav-link" id="product-tab-2" data-toggle="tab" href="#product-series-2" role="tab" aria-selected="false">Reviews (3)</a>-->
												</div>
											</div>
											<!-- tab navigation end -->

											<!-- tab content -->
											<div class="tab-content" id="nav-tabContent2">
												<div class="tab-pane fade show active" id="product-series-1" role="tabpanel"
													aria-labelledby="product-tab-1">
													<div class="shop-product__long-desc mb-30">
<!--														<p>Hurley Dry-Fit Chino Short. Men’s chino short. Outseam Length: 19 Dri-FIT Technology helps-->
<!--															keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops.-->
<!--															Button waist with zip fly provides a classic look and feel . Back welt pockets and coin pocket-->
<!--															for storage. Dual side seam pockets. Heat transferred logos. 70% nylon 24% polyester 6%-->
<!--															spandex. Imported.</p>-->
														{{ product.description }}
													</div>
												</div>
											</div>
											<!-- tab content end -->
										</div>
									</div>
								</div>
							</div>
							</div>
							<!-- End of shop product content -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- shop page content end -->
	</div>
{% endblock %}
{% block extra_scripts %}
<script>
        $(document).ready(function() {
<!--        alert('hello world');-->
    $(document.body).on('click', '.variant', function () {
    var id = $(this).attr('id')
         $.ajax({
        url: "/js_product/" + id,
        data: {
          'myid': id
        },
        dataType: 'html',
        success: function (data) {
<!--         	alert(data);-->
			$("#detaills").html(data);
			$("#id_product_id").val(id)
        },
      });
        });
        });
</script>
{% endblock extra_scripts %}
