
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Theme Design</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Favicon -->
	<link rel="icon" href="img/favicon.jpg" />

	<!-- CSS -->
	<!-- Bootstrap CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet" />

	<!-- Font CSS -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/ionicons.min.css" rel="stylesheet" />
	<link href="assets/css/themify-icons.css" rel="stylesheet" />

	<!-- Plugins CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet" />

	<!-- Helper CSS -->
	<link href="assets/css/helper.css" rel="stylesheet" />

	<!-- Main CSS -->
	<link href="assets/css/main.css" rel="stylesheet" />
	<link href="assets/css/custom.css" rel="stylesheet" />

	<!-- Modernizer JS -->
	<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!-- Header without topbar -->
	<header class="header header-without-topbar header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">
				<div class="header-bottom-container">
					<!-- logo with off canvas -->
					<div class="logo-with-offcanvas d-flex">
						<div class="logo">
							<a href="#">
								<img src="img/logo.png" class="img-fluid" alt="" />
							</a>
						</div>
					</div>
					<!-- End of logo with off canvas -->

					<!-- header bottom navigation -->
					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
						</div>
					</div>
					<!-- End of header bottom navigation -->

					<!-- headeer right container -->
					<div class="header-right-container">
						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon">
									<i class="ion-ios-search-strong"></i>
								</a>
							</div>
							<div class="single-icon user-login">
								<a type="button" data-toggle="modal" data-target="#login">
									<i class="ion-android-person"></i>
								</a>
							</div>
							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
									<i class="ion-android-favorite-outline"></i>
									<span class="count">2</span>
								</a>
							</div>
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									<span class="count">3</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End of header bottom container -->

				<!-- Mobile Navigation Start Here -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li>
								<a href="#">Product 1</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">Heading 1</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 2</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 3</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Product 2</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">Heading 1</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 2</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 3</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Product 3</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">Heading 1</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 2</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 3</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Product 4</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">Heading 1</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 2</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 3</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Product 5</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">Heading 1</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 2</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Heading 3</a>
										<ul class="dl-submenu">
											<li><a href="#">Product Name 1</a></li>
											<li><a href="#">Product Name 2</a></li>
											<li><a href="#">Product Name 3</a></li>
											<li><a href="#">Product Name 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- Mobile Navigation End Here -->
			</div>
		</div>
		<!-- End of header bottom -->
	</header>
	<!-- Header without topbar end -->

	<!-- Login Modal -->
	<div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="submit-form login-form">
						<form action="#">
							<div class="form-group">
								<input type="text" placeholder="Email ID / Mobile No." required />
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" required />
							</div>
							<div class="text-center mt-40 mb-30">
								<button class="lezada-button lezada-button--medium">login</button>
							</div>
							<div class="form-link">
								<span class="create-ac">
									<a type="button" data-toggle="modal" data-target="#signup">Create Account</a> |
								</span>
								<span class="forgot-pwd">
									<a type="button" data-toggle="modal" data-target="#forgotpwd">Forgot Password?</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Modal end -->

	<!-- Signup Modal -->
	<div class="modal fade" id="signup" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="submit-form login-form">
						<form action="#">
							<div class="form-group">
								<input type="text" placeholder="First Name*" name="firstname" id="firstname" value="" />
								<div class="error alert-error"  id="e_firstname" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Last Name*"  name="lastname" id="lastname" value=""  />
								<div class="error alert-error"  id="e_lastname" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Email ID*"  name="email" id="email" value=""   />
								<div class="error alert-error"  id="e_email" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Mobile No.*" id="phone" name="phone"   value=""/>
								<div class="error alert-error"  id="e_phone" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password*" id="password" name="password" />
								<div class="error alert-error"  id="e_password" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="password" placeholder="Confirm Password*" id="confirmpassword" name="confirmpassword">
								<div class="error alert-error"  id="e_confirmpassword" style="display:none;" ></div>
							</div>
							<div class="text-center mt-40 mb-35">
								<button class="lezada-button lezada-button--medium">Register</button>
							</div>
							<div class="text-center mb-10">
								<a type="button" data-toggle="modal" data-target="#login">Already have account? Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Signup Modal end -->

	<!-- Forgot Password Modal -->
	<div class="modal fade" id="forgotpwd" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Forgot Password</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="submit-form login-form">
						<form action="#">
							<div class="form-group">
								<div class="input-group">
									<input type="text" placeholder="Email ID " id="email" name="email_id"  />
									<div class="error alert-error"  id="e_email" style="display:none;" ></div>
								</div>
							</div>
							<div class="text-center mt-40 mb-10">
								<button class="lezada-button lezada-button--medium">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Forgot Password Modal end -->

	<!-- wishlist overlay -->
	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!-- close icon -->
			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>
			<!-- End of close icon -->

			<!-- offcanvas wishlist content container -->
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/01.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/02.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dining Chair</a></h5>
								<p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/03.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>
							</div>
						</div>
					</div>

					<!-- cart buttons -->
					<div class="cart-buttons">
						<a href="#">view wishlist</a>
					</div>
					<!-- End of cart buttons -->
				</div>
			</div>
			<!-- End of offcanvas wishlist content container -->
		</div>
	</div>
	<!-- End of wishlist overlay -->

	<!-- cart overlay -->
	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!-- close icon -->
			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>
			<!-- End of close icon -->

			<!-- offcanvas cart content container -->
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
					<div class="cart-product-container ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/01.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dark Brown Leather Watch</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/02.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dining Chair</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$220.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="img/cart/03.jpg" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Creative Wooden Stand</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">$80.00</span></p>
							</div>
						</div>
					</div>

					<!-- subtotal calculation -->
					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span>
						<span class="subtotal-amount">$200.00</span>
					</p>
					<!-- End of subtotal calculation -->

					<!-- cart buttons -->
					<div class="cart-buttons">
						<a href="#">view cart</a>
						<a href="#">checkout</a>
					</div>
					<!-- End of cart buttons -->

					<!-- free shipping text -->
					<p class="free-shipping-text">
						Free Shipping on All Orders Over $100!
					</p>
					<!-- End of free shipping text -->
				</div>
			</div>
			<!-- End of offcanvas cart content container -->
		</div>
	</div>
	<!-- End of cart overlay -->

	<!-- search overlay -->
	<div class="search-overlay" id="search-overlay">
		<!-- close icon -->
		<span class="close-icon search-close-icon">
			<a href="javascript:void(0)" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>
		<!-- End of close icon -->

		<!-- search overlay content -->
		<div class="search-overlay-content">
			<div class="input-box">
				<form action="#">
					<input type="search" placeholder="Search Products..." />
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
		<!-- End of search overlay content -->
	</div>
	<!-- End of search overlay -->
	<div class="wrapper">
		<!-- breadcrumb area -->
		<nav aria-label="breadcrumb" class="filter_short" style="background: {% if request.session.distributor_checkout %}#FFE28A{% else %}#f7f7f7{% endif %};">
			<ol class="breadcrumb" style="background: {% if request.session.distributor_checkout %}#FFE28A{% else %}#f7f7f7{% endif %};">
				<li class="breadcrumb-item"><a href="index.php">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Product Name</li>
			</ol>
		</nav>
		<!-- breadcrumb area end -->

		<!-- shop page content -->
		<div class="shop-page-wrapper">
			<!-- shop page header -->
			<div id="filter-wrapper" class="filter-wrapper filter-icons">
				<div class="sort-by">
					<button class="sort-btn" data-toggle="modal" data-target="#sortBy">
						<i class="ti-arrows-vertical"></i> Sort By
					</button>
				</div>
				<div class="filter-category">
					<button class="filter-btn" data-toggle="modal" data-target="#filter">
						<i class="ion-android-funnel"></i> Filter
					</button>
				</div>
			</div>

			<!-- Sort Modal -->
			<div class="modal fade sort-modal" id="sortBy" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Sort By</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label class="label-wrapper radiobtn">Price -- Low to High
								<input class="radio-input" type="radio" name="filter" value="1" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="label-wrapper radiobtn">Price -- High to Low
								<input class="radio-input" type="radio" name="filter" value="2">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<!-- Sort Modal end -->

			<!-- Filter Modal -->
			<div class="modal fade filter-modal" id="filter" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Filter</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="accordion">
								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#price" aria-expanded="true" role="button">Price</a>
									</div>
									<div id="price" class="collapse show" data-parent="#accordion">
										<div class="card-body">
											<label class="label-wrapper radiobtn">
												<input class="radio-input price" type="radio" name="price" id="under6" value="0-10">
												<span class="checkmark"></span>
												<span>Under $100</span>
											</label>
											<label class="label-wrapper radiobtn">
												<input class="radio-input price" type="radio" name="price" id="under6" value="0-10">
												<span class="checkmark"></span>
												<span>$120</span>
											</label>
											<label class="label-wrapper radiobtn">
												<input class="radio-input price" type="radio" name="price" id="under6" value="0-10">
												<span class="checkmark"></span>
												<span>$150</span>
											</label>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#category" aria-expanded="true" role="button">Category</a>
									</div>
									<div id="category" class="collapse show" data-parent="#accordion">
										<div class="card-body">
											<label class="label-wrapper checkbox">
												<input class="radio-input2" type="checkbox" id="" value="">
												<span class="checkmark"></span>
												<span>Dresses</span>
											</label>
											<label class="label-wrapper checkbox">
												<input class="radio-input2" type="checkbox" id="" value="">
												<span class="checkmark"></span>
												<span>Men Wear</span>
											</label>
											<label class="label-wrapper checkbox">
												<input class="radio-input2" type="checkbox" id="" value="">
												<span class="checkmark"></span>
												<span>Women Wear</span>
											</label>
											<label class="label-wrapper checkbox">
												<input class="radio-input2" type="checkbox" id="" value="">
												<span class="checkmark"></span>
												<span>Kids Wear</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div>
								<button class="lezada-button" type="button" id="clear">Clear</button>
								<button class="lezada-button-outline" type="button" id="apply">Apply</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Filter Modal end -->
			<!-- shop page header end -->

			<!-- shop page content -->
			<div class="shop-page-content">
				<div class="container">
					<div class="row product-isotope shop-product-wrap">
						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-1.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-2.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-3.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-4.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-1.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-2.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-3.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->

						<!-- single product -->
						<div class="col-sm-6 col-md-3 hot sale">
							<div class="single-product">
								<div class="single-product__image">
									<a class="image-wrap" href="#">
										<img src="img/products/img-4.jpg" class="img-fluid" alt="" />
									</a>

									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>

									<div class="single-product__floating-icons">
										<a class="wishlist" href="#">
											<i class="ion-android-favorite-outline"></i>
										</a>
									</div>
								</div>
								<div class="single-product__content">
									<div class="title">
										<a href="#">High-waist Trousers</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End of single product -->
					</div>
				</div>
			</div>
			<!-- shop page content end -->
		</div>
		<!-- shop page content end -->
	</div>

	<!-- scroll to top -->
<!--	<a href="#" class="scroll-top"></a>-->
	<!-- end of scroll to top -->

	<!-- JS -->
	<!-- jQuery JS -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins JS -->
	<script src="assets/js/plugins.js"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<script>
		$("#signup").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
		});

		$("#login").on('show.bs.modal', function (e) {
			$("#signup").modal("hide");
		});

		$("#login").on('show.bs.modal', function (e) {
			$("#forgotpwd").modal("hide");
		});

		$("#forgotpwd").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
		});
	</script>
<!--{{ product_pages}}<br/>-->
<!--Has Privious: {{ product_pages.has_previous }}<br/>-->
<!--Has Next: {{ product_pages.has_next }}<br/>-->
<!--number of pages: {{product_pages.Paginator.num_pages }}<br/>-->

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'sg2plcpnl0196'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>