{% load static %}
{% load bsiness_tag %}
{% include "business/include/header.html" %}
<div class="pcoded-main-container">
        <div class="modal-content">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
                <div class="container-fluid">
                <div class="row table_bg_bonus">
                    <div class="col-md-12 mt-4">
                <h2 class="calc_page_title mb-2">Commission Wallet</h2>
                <h5 class="calc_page_title_1 mb-4">Details of all Downline within Lead and Influence Circle is displayed here</h5>
                        <div class="row">
                        <div class="col-md-6">
                <input type="date" for="downline" name="from_date" class="form-control" value="2021-05">
                        </div>
                        <div class="col-md-6">
                <input type="date" for="downline" name="to_date" class="form-control" value="2021-05">
                        </div>
                        </div>
                        <div class="align-center">
                    <input type="submit" value="Submit"  class="form-control mt-4" style="background-color: #222529; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; color: white;">
                        </div>
                </div>
                <div class="col-md-12 mt-4 mb-4 box_income">
                    <table class="table user_profile_bonus_1">
                        <thead class="thead-dark">
                        <tr>
                        <th>Date</th>
                        <th>Particulars</th>
                        <th>Amount IN</th>
                        <th>Amount OUT</th>
                        <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comission in commissions %}
                        <tr>
                        <td>{{comission.created_on|date:'Y-m-d'}}</td>
                        <td>-----</td>
                        <td>{{comission.amount_in}}</td>
                        <td>{{comission.amount_out}}</td>
                        <td>{% blance comission.amount_in comission.amount_out %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
                </div>

{% include "business/include/footer.html" %}