
*.pyc
portal_auretics_com/mlm_calculation/.DS_Store
portal_auretics_com/mlm_calculation/.DS_Store
portal_auretics_com/mlm_admin/.DS_Store
portal_auretics_com/distributor/.DS_Store
portal_auretics_com/business/templatetags/.DS_Store
portal_auretics_com/mlm_admin/.DS_Store
portal_auretics_com/.DS_Store
portal_auretics_com/accounts/.DS_Store
portal_auretics_com/business/.DS_Store
portal_auretics_com/distributor/.DS_Store
portal_auretics_com/mlm_admin/.DS_Store
portal_auretics_com/mlm_calculation/.DS_Store
portal_auretics_com/shop/.DS_Store
portal_auretics_com/.DS_Store
portal_auretics_com/accounts/.DS_Store
portal_auretics_com/business/.DS_Store
portal_auretics_com/distributor/.DS_Store
portal_auretics_com/mlm_admin/.DS_Store
portal_auretics_com/mlm_calculation/.DS_Store
portal_auretics_com/shop/.DS_Store

*/*.pyc
.idea/

portal_auretics_com/portal_auretics_com/local_settings.py
portal_auretics_com/.DS_Store
portal_auretics_com/.DS_Store
portal_auretics_com/audit/.DS_Store
portal_auretics_com/business/.DS_Store
portal_auretics_com/business/migrations/.DS_Store
portal_auretics_com/business/templates/.DS_Store
portal_auretics_com/business/templates/business/.DS_Store
portal_auretics_com/business/templatetags/.DS_Store
portal_auretics_com/distributor/.DS_Store
portal_auretics_com/distributor/migrations/.DS_Store
portal_auretics_com/.DS_Store
portal_auretics_com/shop/templates/.DS_Store
portal_auretics_com/shop/templatetags/.DS_Store
portal_auretics_com/distributor/.DS_Store
portal_auretics_com/distributor/templates/.DS_Store
portal_auretics_com/shop/.DS_Store
portal_auretics_com/shop/migrations/.DS_Store

.env

**/migrations/*
**/__pycache__/*
server_migrations/.DS_Store
server_migrations/accounts/.DS_Store
server_migrations/activitylog/.DS_Store
server_migrations/audit/.DS_Store
server_migrations/business/.DS_Store
server_migrations/c_and_f/.DS_Store
server_migrations/crm/.DS_Store
server_migrations/distributor/.DS_Store
server_migrations/mlm_admin/.DS_Store
server_migrations/mlm_calculation/.DS_Store
server_migrations/notify/.DS_Store
server_migrations/realtime_calculation/.DS_Store
server_migrations/shop/.DS_Store
server_migrations/wallet/.DS_Store
server_migrations/.DS_Store
server_migrations/accounts/.DS_Store
server_migrations/activitylog/.DS_Store
server_migrations/audit/.DS_Store
server_migrations/business/.DS_Store
server_migrations/c_and_f/.DS_Store
server_migrations/crm/.DS_Store
server_migrations/distributor/.DS_Store
server_migrations/mlm_admin/.DS_Store
server_migrations/mlm_calculation/.DS_Store
server_migrations/notify/.DS_Store
server_migrations/realtime_calculation/.DS_Store
server_migrations/shop/.DS_Store
server_migrations/wallet/.DS_Store
portal_auretics_com/.DS_Store
portal_auretics_com/distributor/templates/.DS_Store
portal_auretics_com/shop/.DS_Store
server_migrations/.DS_Store
*.log
portal_auretics_com/static/revslider/.DS_Store
portal_auretics_com/static/revslider/fonts/.DS_Store
portal_auretics_com/static/revslider/fonts/font-awesome/.DS_Store
portal_auretics_com/static/revslider/fonts/pe-icon-7-stroke/.DS_Store
server_migrations/.DS_Store
server_migrations/mis_reports/.DS_Store
portal_auretics_com/debug.log
*.log
portal_auretics_com/mlm_admin/.DS_Store
portal_auretics_com/mlm_admin/templates/.DS_Store
portal_auretics_com/mlm_admin/templates/mlm_admin/.DS_Store
portal_auretics_com/mlm_admin/templatetags/.DS_Store
portal_auretics_com/shop/.DS_Store
portal_auretics_com/shop/templates/.DS_Store
portal_auretics_com/shop/templates/shop/.DS_Store
portal_auretics_com/shop/templatetags/.DS_Store
*.log
portal_auretics_com/debug.log
portal_auretics_com/.DS_Store
*.log
portal_auretics_com/mlm_calculation/migrations/0001_initial.py
portal_auretics_com/mlm_admin/migrations/0001_initial.py
portal_auretics_com/distributor/migrations/0001_initial.py
portal_auretics_com/audit/migrations/0001_initial.py
portal_auretics_com/accounts/migrations/0001_initial.py
*.log
appsitsolution/debug.log
appsitsolution/accounts/migrations/0001_initial.py
appsitsolution/audit/migrations/0001_initial.py
appsitsolution/crm/migrations/__init__.py
appsitsolution/debug.log
appsitsolution/distributor/migrations/0001_initial.py
appsitsolution/mlm_admin/migrations/0001_initial.py
appsitsolution/mlm_calculation/migrations/0001_initial.py
appsitsolution/shop/migrations/0001_initial.py
server_migrations/.DS_Store
server_migrations/payment_gateway/.DS_Store
server_migrations/realtime_calculation_v2/.DS_Store
/appsitsolution/media/greeting_images/thumbnails/
/old_requirements.txt
/auretics_minimum_requirements.txt
/activate_auretics_env.bat
