{% load static %}
{% include "mlm_calculation/include/header.html" %}
<div class="pcoded-main-container">
        <div class="modal-content">
            {% for message in messages   %}
				  <div class="alert alert-{{ message.tags }}" role="alert">
    				<div class="text-center">
    				<strong>Messages: </strong> {{ message }}
					   </div>
    					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      					<span aria-hidden="true">&times;</span>
    					</button>
				  </div>
  				{% endfor %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="modal-header">
                <h2 class="calc_page_title">Fortune Bonus</h2>
           </div>
            <div class="modal-body">
                <div class="form-group super_plan">
                <div class="row">
                <div class="col-md-12 mt-4">
                  <p><span><h5>Last Public Data is for:<b>{% if public_month %}{{public_month|date:"M-Y"}} {% endif %}({{public_date}})</b> </h5></span></p>
                  <p><span><h5>Last Draft Data is for: <b>{% if draft_month %}{{draft_month|date:"M-Y"}}{% endif %}({{draft_date}})</b></h5></span></p>
                  <input type="month" name="month" class="form-control">
                    <div align="right">
                    <button type="submit" class="mt-3" >Fortune Bonus:</button>
                       </div>
                </div>
                       </div>
            </div>
            </div>
    </form>

    <form method="post" enctype="multipart/form-data"  action="{% url 'mlm_calculation_fortune_bonus_excel' %}">
    {% csrf_token %}
            <div class="modal-header">
                <h2 class="calc_page_title">Download Fortune Fund</h2>
           </div>
            <div class="modal-body">
                <div class="form-group super_plan">
                <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="month" name="excel_date" class="form-control">
                    <div align="right">
                    <button type="submit" class="mt-3"  >Download Excel Sheet</button>
                       </div>
                </div>

                       </div>
            </div>
            </div>
    </form>

    <form method="post" enctype="multipart/form-data"  action="{% url 'mlm_calculation_fortune_bonus_publish' %}">
    {% csrf_token %}
            <div class="modal-header">
                <h2 class="calc_page_title">Publish Fortune Bonus</h2>
           </div>
            <div class="modal-body">
                <div class="form-group super_plan">
                <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="month" name="publish_date" class="form-control">
                    <div align="right">
                    <button type="submit" class="mt-3"  >Publish</button>
                       </div>
                </div>

                       </div>
            </div>
            </div>
    </form>
        </div>
</div>
{% include "mlm_calculation/include/footer.html" %}
