{% load static %}
{% include "mlm_calculation/include/header.html" %}
<div class="pcoded-main-container">
        <div class="modal-content">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
                <div class="container-fluid">
                <div class="row table_bg_bonus">
                <div class="col-md-12 mt-4">
                <h2 class="calc_page_title mb-2">Downline Details</h2>
                <h5 class="calc_page_title_1 mb-4">Check out your downline details</h5>
                <input type="month" for="downline" class="form-control" value="2021-05">
                </div>
                <div class="col-md-12 mt-4 box_income box_income_down">
                    <div class="main_downline mt-4 mb-4">
                    <div><p>Downline Of :51807851 SHUBHAM JAIN</p></div>
                    <div class="input_search_down">
                <label class="downline_label">Search my Downline</label>
                <input type="text" for="search" class="form-control" placeholder="Search your downline here">
                </div>
                </div>
                    <table class="table user_profile_bonus_1">
                        <thead class="thead-dark">
                        <tr>
                        <th>Name of the Person</th>
                        <th>Qualification Level</th>
                        <th>Referral Code</th>
                        <th>E-Mail Address</th>
                        <th>Phone Number</th>
                        <th>PPV/PBV</th>
                        <th>PGPV/PGBV</th>
                        <th>GPV/GBV</th>
                        <th>Income</th>
                        <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Shubh Jain</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline">Downline</td>
                        </tr>
                        <tr>
                        <tr>
                        <td>Shubh Jain</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline">Downline</td>
                        </tr>
                        <tr>
                        <td>Divya Kohli</td>
                        <td>Platinum</td>
                        <td>divya0207</td>
                        <td>divyakohli@gmail.com</td>
                        <td>+91-9560616832</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline">Downline</td>
                        </tr>
                        <tr>
                        <td>Alok Sharma</td>
                        <td>Platinum</td>
                        <td>alok0207</td>
                        <td>aloksharma@gmail.com</td>
                        <td>+91-9560616833</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline">Downline</td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        <div class="col-md-12 mt-4 box_income box_income_down_1">
                            <div class="main_downline mt-4 mb-4">
                                <div><p>Downline Of :51807851 SHUBHAM JAIN-01</p></div>
                                    <div class="input_search_down">
                                    <label class="downline_label">Search my Downline</label>
                                        <input type="text" for="search" class="form-control" placeholder="Search your downline here">
                                            </div>
                                                </div>
                        <table class="table user_profile_bonus_1">
                        <thead class="thead-dark">
                        <tr>
                        <th>Name of the Person</th>
                        <th>Qualification Level</th>
                        <th>Referral Code</th>
                        <th>E-Mail Address</th>
                        <th>Phone Number</th>
                        <th>PPV/PBV</th>
                        <th>PGPV/PGBV</th>
                        <th>GPV/GBV</th>
                        <th>Income</th>
                        <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Shubh Jain_1</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline_1">Downline</td>
                        </tr>
                        <tr>
                        <tr>
                        <td>Shubh Jain_1</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline_1">Downline</td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        <div class="col-md-12 mt-4 box_income box_income_down_2">
                            <div class="main_downline mt-4 mb-4">
                                <div><p>Downline Of :51807851 SHUBHAM JAIN-02</p></div>
                                    <div class="input_search_down">
                                    <label class="downline_label">Search my Downline</label>
                                        <input type="text" for="search" class="form-control" placeholder="Search your downline here">
                                            </div>
                                                </div>
                        <table class="table user_profile_bonus_1">
                        <thead class="thead-dark">
                        <tr>
                        <th>Name of the Person</th>
                        <th>Qualification Level</th>
                        <th>Referral Code</th>
                        <th>E-Mail Address</th>
                        <th>Phone Number</th>
                        <th>PPV/PBV</th>
                        <th>PGPV/PGBV</th>
                        <th>GPV/GBV</th>
                        <th>Income</th>
                        <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Shubh Jain_2</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline_2">Downline</td>
                        </tr>
                        <tr>
                        <tr>
                        <td>Shubh Jain_2</td>
                        <td>Platinum</td>
                        <td>Shubh0207</td>
                        <td>shubhjain@gmail.com</td>
                        <td>+91-9560616831</td>
                        <td>1500</td>
                        <td>1300</td>
                        <td>2800</td>
                        <td>5000</td>
                        <td class="view_downline_2">Downline</td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
                </div>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
                <script>
                $(document).ready(function(){
                $(".view_downline").click(function(){
                $(".box_income_down").hide();
                $(".box_income_down_1").show();
                });
                 $(".view_downline_1").click(function(){
                $(".box_income_down_1").hide();
                $(".box_income_down_2").show();
                });
                 });
                </script>
{% include "mlm_calculation/include/footer.html" %}