<div>
    <br /><br /><br /><br />
    <table>
        <thead style="text-align:center;vertical-align:center;padding:0"><tr><td><b><u>Acronym</u></b></td><td><b><u>Particulars</u></b></td></tr></thead>
        <tbody style="text-align:left;vertical-align:top;padding:0">
        <tr><td><b>MRP: </b></td><td>
                    <span>
                        Maximum Retail Price
                        <br />
                        <sup>
                            The maximum retail price (MRP) is a manufacturer calculated price that is the highest price that can be charged (including all taxes, freight) for a product sold in the country.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>DP: </b></td><td>
                    <span>
                        Distributor's Price
                        <br />
                        <sup>
                            Price offered to each individual distributor for direct purchase from the company.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>BV: </b></td><td>
                    <span>
                        Business Volume
                        <br />
                        <sup>
                            Each product is assigned a BV, which is a percentage of DP and all commissions are calculated from BV.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>PV: </b></td><td>
                    <span>
                        Point Value
                        <br />
                        <sup>
                            PV are calculated as a ratio of BV. The current PV:BV ratio is 1:10*. PV is used for title progression.
	                        *PV:BV ratios are subject to change.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>PBV: </b></td><td>
                    <span>
                        Personal Business Volume
                        <br />
                        <sup>
                            PBV is the sum total of BV bought by a person personally in any particular month.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>PPV: </b></td><td>
                    <span>
                        Personal Point Value
                        <br />
                        <sup>

                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>GBV: </b></td><td>
                    <span>
                        Group Business Volume
                        <br />
                        <sup>
                            GBV is total BV from all the legs of a person (including BV from all director legs) and BV from sale done by him personally in any particular month, but excludes BV allocated to Super Plan.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>GPV: </b></td><td>
                    <span>
                        Group Point Value
                        <br />
                        <sup>
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>TBV: </b></td><td>
                    <span>
                        Team Business Volume
                        <br />
                        <sup>
                            TBV is total BV from all the legs of a person (including BV from all director legs) and BV from sale done by him personally in any particular month, and includes BV allocated to Super Plan.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>PGBV: </b></td><td>
                    <span>
                        Personal Group Business Volume
                        <br />
                        <sup>
                            PGBV is total BV from all non-director legs of a person and BV from sale done by him personally in any particular month.
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>PGPV: </b></td><td>
                    <span>
                        Personal Group Point Value
                        <br />
                        <sup>
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>Gross PBV: &nbsp;</b></td><td>
                    <span>
                        Gross Personal Business Volume
                        <br />
                        <sup>
                            Total BV achieved till date (cumulative).
                        </sup>
                    </span>
        </td></tr>
        <tr><td><b>Gross PPV: &nbsp;</b></td><td>
                    <span>
                        Gross Personal Point Value
                        <br />
                        <sup>
                        </sup>
                    </span>
        </td></tr>
        </tbody>
    </table>
    <br /><br /><br /><br />
</div>