{% load static %}
{% load shop_tag %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/favicon-1.png' %}" />

	<!-- CSS -->
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />

	<!-- Font CSS -->
	<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/ionicons.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />

	<!-- Plugins CSS -->
	<link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" />

	<!-- Helper CSS -->
	<link href="{% static 'assets/css/helper.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/formstyle.css' %}" rel="stylesheet" />

	<!-- Main CSS -->
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />

	<!-- Revolution Slider CSS -->
	<link href="{% static 'assets/revolution/css/settings.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/revolution/css/navigation.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/revolution/custom-setting.css' %}" rel="stylesheet" />

	<!-- Modernizer JS -->
	<script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
	<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NKH3YQ37WS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NKH3YQ37WS');
</script>
<!-- End Google Analytics -->
		<style>
    .shubh_log {
    display: block;
    margin-left: -8px;
    line-height: 14px;
    text-align: left;
}
.shubh_icon_log {
    line-height: 14px !important;
}
	</style>
	{% block extra_styles %}
    {% endblock extra_styles %}
</head>

<body>
	<!-- Header without topbar -->
		<header class="header header-without-topbar header-sticky">
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container-fluid wide">
				<div class="header-bottom-container">
					<!-- logo with off canvas -->
					<div class="logo-with-offcanvas d-flex new_logo">
						<div class="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'img/new_logo.png' %}" class="img-fluid" alt="" />
							</a>
						</div>
					</div>
					<!-- End of logo with off canvas -->

					<!-- header bottom navigation -->
					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li id="menu-item-14766" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14766"><a href="https://portal.auretics.com/static/html/profile.html">About Us</a></li>
<!--								    <li class="menu-item-has-children"><a href="#">About Us</a>-->
<!--								    <ul class="sub-menu mega-menu mega-menu-column-4 ecom_head_shubh mega_menu_new">-->
<!--								        <li><a href="https://auretics.com/company-profile/">Company Profile</a></li>-->
<!--								         <li><a href="https://auretics.com/mission-vision-and-values/">Mission, Vision and Values</a></li>-->
<!--								          <li><a href="https://auretics.com/management/">Management</a></li>-->
<!--								        </ul>-->
<!--								        </li>-->
                                        <li class="menu-item-has-children">
										<a href="{% url 'product_list' %}">Products</a>
										<ul class="sub-menu mega-menu mega-menu-column-4 ecom_head_shubh">
											{% for i in category %}
												{% if i.delete == False %}
											<li>
												<a href="javascript:void(0)" class="mega-column-title">{{i.cat_name}}</a>
												<ul class="mega-sub-menu">
											{% for k in i.category_set.all|sort_by:'cat_order' %}
												{% if k.delete == False %}
													<li>
														<a href="/category/{{i.cat_name}}/{{k.cat_name}}">{{k.cat_name}}</a>
													</li>
												{% endif%}
											{% endfor%}
												</ul>
											</li>
											{% endif%}
											{% endfor %}
										</ul>
									</li>
									<!-- AG Shout :: Removed -->
									<!--
									<li><a href="https://auretics.com/become-an-advisor/">Become an Advisor</a></li>
									<li><a href="https://auretics.com/business-opportunity/">Business Opportunity</a></li>
									<li><a href="https://auretics.com/contact-us/">Contact Us</a></li>
								  -->
									<!-- AG Shout :: Added -->
									<li id="menu-item-15038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15038"><a href="https://portal.auretics.com/static/html/contact.html">Contact Us</a></li>
									<!--<li class="menu-item-has-children">-->
									<!--	<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--	<ul class="sub-menu mega-menu mega-menu-column-4">-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 1</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 2</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 3</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'men' %}">Men</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<div class="menu-image">-->
									<!--				<img src="{% static 'img/menu/menu-element.png' %}" class="img-fluid" alt="" />-->
									<!--			</div>-->
									<!--		</li>-->
									<!--	</ul>-->
									<!--</li>-->
									<!--<li class="menu-item-has-children">-->
									<!--	<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--	<ul class="sub-menu mega-menu mega-menu-column-4">-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 1</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 2</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 3</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'product_category' 'women' %}">Women</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<div class="menu-image">-->
									<!--				<img src="{% static 'img/menu/menu-element.png' %}" class="img-fluid" alt="" />-->
									<!--			</div>-->
									<!--		</li>-->
									<!--	</ul>-->
									<!--</li>-->
									<!--<li class="menu-item-has-children">-->
									<!--	<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--	<ul class="sub-menu mega-menu mega-menu-column-4">-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 1</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--				    <a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 2</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--				    <a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 3</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--				    <a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<div class="menu-image">-->
									<!--				<img src="{% static 'img/menu/menu-element.png' %}" class="img-fluid" alt="" />-->
									<!--			</div>-->
									<!--		</li>-->
									<!--	</ul>-->
									<!--</li>-->
									<!--<li class="menu-item-has-children">-->
									<!--	<a href="#">UserProfile</a>-->
									<!--	<ul class="sub-menu mega-menu mega-menu-column-4">-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Profile</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--			    	<li>-->
									<!--					<a href="{% url 'profile' %}">Profile </a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'edit_profile' %}">Update Profile </a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="{% url 'order_summary' %}">Order List</a>-->
									<!--				</li>-->

									<!--			</ul>-->
									<!--		</li></ul></li>-->
									<!--<li class="menu-item-has-children">-->
									<!--	<a href="#">Product 5</a>-->
									<!--	<ul class="sub-menu mega-menu mega-menu-column-4">-->
											<!--<li>-->
											<!--	<a href="javascript:void(0)" class="mega-column-title">Heading 1</a>-->
											<!--	<ul class="mega-sub-menu">-->
											<!--		<li>-->
											<!--			<a href="#">Product Name 1</a>-->
											<!--		</li>-->
											<!--		<li>-->
											<!--			<a href="#">Product Name 2</a>-->
											<!--		</li>-->
											<!--		<li>-->
											<!--			<a href="#">Product Name 3</a>-->
											<!--		</li>-->
											<!--		<li>-->
											<!--			<a href="#">Product Name 4</a>-->
											<!--		</li>-->
											<!--	</ul>-->
											<!--</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 2</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 1</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 2</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 3</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 4</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 3</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 1</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 2</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 3</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 4</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--		<li>-->
									<!--			<a href="javascript:void(0)" class="mega-column-title">Heading 4</a>-->
									<!--			<ul class="mega-sub-menu">-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 1</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 2</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 3</a>-->
									<!--				</li>-->
									<!--				<li>-->
									<!--					<a href="#">Product Name 4</a>-->
									<!--				</li>-->
									<!--			</ul>-->
									<!--		</li>-->
									<!--	</ul>-->
									<!--</li>-->
								</ul>
							</nav>
						</div>
					</div>
					<!-- End of header bottom navigation -->

					<!-- headeer right container -->
					<div class="header-right-container">
						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon">
									<i class="ion-ios-search-strong"></i>
								</a>
							</div>
<!--							{% if user.is_authenticated %}-->
<!--							<div class="dropdown single-icon">-->
<!--								<a href="#" class="dropdown-toggle menu" data-toggle="dropdown">-->
<!--									{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}-->
<!--								</a>-->
<!--								<ul class="dropdown-menu">-->
<!--									<li>-->
<!--										<a class="links" href="{% url 'profile' %}">-->
<!--											<i class="mdi mdi-help-circle-outline"></i> Profile</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="links" href="{% url 'edit_profile' %}">-->
<!--											<i class="mdi mdi-help-circle-outline"></i> Update Profile</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="links" href="{% url 'order_summary' %}">-->
<!--											<i href=""></i> Order List</a>-->
<!--									</li>-->
<!--									<li>-->
<!--									    <a type="button" href="{% url 'logout' %}">-->
<!--									<i class="ion-log-out"></i> &nbsp;Log Out-->
<!--                                </a>-->

<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							{% else %}-->
<!--							<div class="single-icon user-login shubh_icon_log">-->
<!--                                <a class="links" data-toggle="modal" href="#login">-->
<!--											<i class="mdi mdi-login-variant"></i></a>-->

<!--								<a type="button" data-toggle="modal" data-target="#login">-->
<!--									<i class="ion-android-person"></i>-->
<!--									<div class="shubh_log">login / Join Now</div>-->
<!--                                </a>-->
<!--							</div>-->

<!--							{% endif %}-->

							{% if cart_items.count %}
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									<span class="count">{{ cart_items.count}}</span>
								</a>
							</div>

							{% endif %}
						</div>
					</div>
				</div>
				<!-- End of header bottom container -->

				<!-- Mobile Navigation Start Here -->
				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
						    	<li>
								<a href="#">About Us</a>
								<!--<ul class="dl-submenu">-->

								<!--					<li>-->
								<!--						<a href="https://auretics.com/company-profile/">Company Profile</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="https://auretics.com/mission-vision-and-values/">Mission, Vision and Values</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="https://auretics.com/management/">Management</a>-->
								<!--					</li>-->
								<!--</ul>-->
								</li>
							<li>
								<a href="{% url 'product_list' %}">Product List</a>
								<ul class="dl-submenu">
									{% for i in category %}
												{% if i.delete == False %}
											<li>
												<a href="javascript:void(0)" class="mega-column-title">{{i.cat_name}}</a>
												<ul class="dl-submenu">
											{% for k in i.category_set.all|sort_by:'cat_order' %}
												{% if k.delete == False %}
													<li>
														<a href="/category/{{i.cat_name}}/{{k.cat_name}}">{{k.cat_name}}</a>
													</li>
												{% endif%}
											{% endfor%}
												</ul>
											</li>
											{% endif%}
											{% endfor %}
								</ul>
							</li>
							<!--<li>-->
							<!--	<a href="https://auretics.com/become-an-advisor/">Become an Advisor</a>-->
								<!--<ul class="dl-submenu">-->
								<!--	<li>-->
								<!--		<a href="#">Heading 1</a>-->
								<!--		<li>-->
								<!--						<a href="{% url 'product_category' 'women' %}">Women</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="#">Men</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'product_list' %}">Products</a>-->
								<!--					</li>-->
								<!--	</li>-->
								<!--	<li>-->
								<!--		<a href="#">Heading 2</a>-->
								<!--		<ul class="dl-submenu">-->
								<!--			<li>-->
								<!--						<a href="{% url 'product_category' 'women' %}">Women</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="#">Men</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'product_list' %}">Products</a>-->
								<!--					</li>-->
								<!--		</ul>-->
								<!--	</li>-->
								<!--	<li>-->
								<!--		<a href="#">Heading 3</a>-->
								<!--		<ul class="dl-submenu">-->
								<!--			<li>-->
								<!--						<a href="{% url 'product_category' 'women' %}">Women</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="#">Men</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'product_list' %}">Products</a>-->
								<!--					</li>-->
								<!--		</ul>-->
								<!--	</li>-->
								<!--</ul>-->
							<!--</li>-->
							<!--<li>-->
							<!--	<a href="https://auretics.com/business-opportunity/">Business Opportunity</a>-->
							<!--	</li>-->
							<li>
								<a href="https://auretics.com/contact-us/">Contact Us</a>
								<!--<ul class="dl-submenu">-->
								<!--	<li>-->
								<!--		<a href="#">Heading 1</a>-->
								<!--		<ul class="dl-submenu">-->
								<!--			<li>-->
								<!--						<a href="{% url 'product_category' 'women' %}">Women</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="#">Men</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'product_list' %}">Products</a>-->
								<!--					</li>-->
								<!--		</ul>-->
								<!--	</li>-->
								<!--	<li>-->
								<!--		<a href="#">Heading 2</a>-->
								<!--		<ul class="dl-submenu">-->
								<!--			<li>-->
								<!--						<a href="{% url 'product_category' 'women' %}">Women</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="#">Men</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
								<!--					</li>-->
								<!--					<li>-->
								<!--						<a href="{% url 'product_list' %}">Products</a>-->
								<!--					</li>-->
								<!--		</ul>-->
								<!--	</li>-->
								<!--	<li>-->
								<!--		<a href="#">Heading 3</a>-->
								<!--		<ul class="dl-submenu">-->
								<!--			<li><a href="#">Product Name 1</a></li>-->
								<!--			<li><a href="#">Product Name 2</a></li>-->
								<!--			<li><a href="#">Product Name 3</a></li>-->
								<!--			<li><a href="#">Product Name 4</a></li>-->
								<!--		</ul>-->
								<!--	</li>-->
								<!--</ul>-->
							</li>
							<!--<li>-->
							<!--	<a href="#">Product 4</a>-->
							<!--	<ul class="dl-submenu">-->
							<!--		<li>-->
							<!--			<a href="#">Heading 1</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--		<li>-->
							<!--			<a href="#">Heading 2</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--		<li>-->
							<!--			<a href="#">Heading 3</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--	</ul>-->
							<!--</li>-->
							<!--<li>-->
							<!--	<a href="#">Product 5</a>-->
							<!--	<ul class="dl-submenu">-->
							<!--		<li>-->
							<!--			<a href="#">Heading 1</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--		<li>-->
							<!--			<a href="#">Heading 2</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--		<li>-->
							<!--			<a href="#">Heading 3</a>-->
							<!--			<ul class="dl-submenu">-->
							<!--				<li>-->
							<!--							<a href="{% url 'product_category' 'women' %}">Women</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="#">Men</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'categry_name' 'Sunglasses' %}">Sunglasses</a>-->
							<!--						</li>-->
							<!--						<li>-->
							<!--							<a href="{% url 'product_list' %}">Products</a>-->
							<!--						</li>-->
							<!--			</ul>-->
							<!--		</li>-->
							<!--	</ul>-->
							<!--</li>-->
						</ul>
					</div>
				</div>
				<!-- Mobile Navigation End Here -->
			</div>
		</div>
		<!-- End of header bottom -->
	</header>
	<!-- Header without topbar end -->



	<!-- Signup Modal -->
	<div class="modal fade" id="signup" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="submit-form login-form">
						<form id="signupForm" data-toggle="validator" role="form" action="{% url 'register' %}" method="POST"  novalidate>{% csrf_token %}
							<div class="form-group">
								<input type="text" placeholder="First Name*" name="firstname" id="firstname" value="" required />
								<div class="error alert-error"  id="e_firstname" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Last Name*"  name="lastname" id="lastname" value=""   />
								<div class="error alert-error"  id="e_lastname" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Email ID*"  name="email" id="email" value=""    required/>
								<div class="error alert-error"  id="e_email" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Referral Code*"  name="referral_code" id="referral_code" value="" required/>
								<div class="error alert-error"  id="e_referral_code" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Mobile No.*" id="phone" name="phone"   value="" required/>
								<div class="error alert-error"  id="e_phone" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password*" id="password" name="password"  required />
								<div class="error alert-error"  id="e_password" style="display:none;" ></div>
							</div>
							<div class="form-group">
								<input type="password" placeholder="Confirm Password*" id="confirmpassword" name="confirmpassword" required />
								<div class="error alert-error"  id="e_confirmpassword" style="display:none;" ></div>
							</div>
							<div class="text-center mt-40 mb-35">
								<button class="lezada-button lezada-button--medium">Register</button>
							</div>
							<div class="text-center mb-10">
								{% if request.GET.next %}
									<input type="hidden" name="next" value="{{request.GET.next}}"/>
								{% endif %}
								<a type="button" data-toggle="modal" data-target="#login">Already have account? Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Signup Modal end -->

	<!-- Forgot Password Modal -->
	<div class="modal fade" id="forgotpwd" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Forgot Password</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="submit-form login-form">
						<form action="#">
							<div class="form-group">
								<div class="input-group">
									<input type="text" placeholder="Email ID " id="email" name="email_id"  />
									<div class="error alert-error"  id="e_email" style="display:none;" ></div>
								</div>
							</div>
							<div class="text-center mt-40 mb-10">
								<button class="lezada-button lezada-button--medium">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Forgot Password Modal end -->

	<!-- wishlist overlay -->
	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!-- close icon -->
			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>
			<!-- End of close icon -->

			<!-- offcanvas wishlist content container -->
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container ps-scroll">
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="{% static 'img/cart/01.jpg' %}" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="{% static 'img/cart/02.jpg' %}" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Dining Chair</a></h5>
								<p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>
							</div>
						</div>
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="{% static 'img/cart/03.jpg' %}" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="#">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>
							</div>
						</div>
					</div>

					<!-- cart buttons -->
					<div class="cart-buttons">
						<a href="#">view wishlist</a>
					</div>
					<!-- End of cart buttons -->
				</div>
			</div>
			<!-- End of offcanvas wishlist content container -->
		</div>
	</div>
	<!-- End of wishlist overlay -->
	<!-- cart overlay -->
	{% if cart_items.count %}
<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!-- close icon -->
			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>
			<!-- End of close icon -->
			<!-- offcanvas cart content container -->
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				<div class="cart-product-wrapper">
				    {% for item in cart_items %}
					<div class="cart-product-container ps-scroll">
						<div class="single-cart-product">
							<!--<span class="cart-close-icon">-->
							<!--	<a href="#"><i class="ti-close"></i></a>-->
							<!--</span>-->
							<div class="image">
								<a href="{% url 'show_cart' %}">
									<img src="{{ item.product.image.url }}" class="img-fluid" alt="" />
								</a>
							</div>
							<div class="content">
								<h5><a href="{% url 'show_cart' %}">{{ item.product.product_name }}</a></h5>
								<p><span class="cart-count">{{ item.quantity }} x </span> <span class="discounted-price">{% if user.is_authenticated %}{{  item.discount_price }}{% else %}{{ item.price }}{% endif %}</span></p>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- subtotal calculation -->
					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span>
						<span class="subtotal-amount">{% if user.is_authenticated %}{{ a_sub_total }}{% else %}{{ cart_subtotal }}{% endif %}</span>
					</p>
					<!-- End of subtotal calculation -->
					<!-- cart buttons -->
					<div class="cart-buttons">
						<a href="{% url 'show_cart' %}">view cart</a>
<!--						nipur code start-->
						{% if user.is_authenticated %}
						<a href="{% url 'checkout' %}">checkout</a>
						{% endif %}
<!--						nipur code end-->
					</div>
					<!-- End of cart buttons -->
					<!-- free shipping text -->
					<p class="free-shipping-text">
						Free Shipping on All Orders Over ₹100!
					</p>
					<!-- End of free shipping text -->
				</div>
			</div>

			<!-- End of offcanvas cart content container -->
		</div>
	</div>
	{% endif %}
	<!-- End of cart overlay -->

	<!-- search overlay -->
	<div class="search-overlay" id="search-overlay">
		<!-- close icon -->
		<span class="close-icon search-close-icon">
			<a href="{% url 'search' %}" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>
		<!-- End of close icon -->
		<!-- search overlay content -->
		<div class="search-overlay-content container">
			<div class="input-box">
				<form action="{% url 'search' %}" method="POST" name="mySearch" onsubmit="return validateForm()">{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<input type="search" placeholder="Search Products..."  name="search"/>
							<div class="input-group-append">
								<input class="input-group-text" type="submit" value="submit" />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="search-hint">
			    <span id='name_error' class="text-red"></span></br>
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
		<script>
function validateForm() {
  var x = document.forms["mySearch"]["search"].value;
  if (x == "" || x == null) {
    nameError ="Enter your search in the box";
     document.getElementById("name_error").innerHTML = nameError;
    return false;
  }
}
</script>
		<!-- End of search overlay content -->
	</div>
	<!-- End of search overlay -->
{% if messages %}
	<div class="row">
		<div class="col-lg-12">
			{% for message in messages %}
			<div class="alert alert-blue alert-dismissible fade show text-center" role="alert">
				<strong></strong> {{ message|safe }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
    {% block content %}
{% endblock %}
<div class="footer-container footer-one pt-100 pb-30">
    <div class="container-fluid wide">
        <div class="row">
            <!-- copyright -->
            <div class="col-md-3 footer-single-widget">
                <div class="logo new_logo">
                    <img src="{% static 'img/new_logo.png' %}" class="img-fluid" alt="" />
                </div>
                <div class="copyright-text">
                    <p>&copy;2022 Auretics Limited. All Rights Reserved</p>
                </div>
                <!--<div class="footer-nav-container footer-social-links">-->
                <!--    <h5 class="widget-title pt-20">FOLLOW US ON</h5>-->
                <!--    <nav>-->
                <!--        <ul>-->
                <!--            <li>-->
                <!--                <a href="https://www.facebook.com/auretics"> <i class="fa fa-facebook"></i> Facebook</a>-->
                <!--            </li>-->
                <!--             <li>-->
                <!--                <a href="https://www.instagram.com/auretics_official/"><i class="fa fa-instagram"></i> Instagram</a>-->
                <!--            </li>-->

                <!--            <li>-->
                <!--                <a href="https://twitter.com/auretics/"><i class="fa fa-twitter"></i> Twitter</a>-->
                <!--            </li>-->

                <!--             <li>-->
                <!--                <a href="https://www.youtube.com/channel/UC3hwcu0ZrD1q87MsnQNRj5Q"> <i class="fa fa-youtube"></i> Youtube</a>-->
                <!--            </li>-->

                <!--             <li>-->
                <!--                <a href="https://g.page/auretics?gm"> <i class="fa fa-google-plus" aria-hidden="true"></i> Google</a>-->
                <!--            </li>-->
                <!--        </ul>-->
                <!--    </nav>-->
                <!--</div>-->
            </div>
            <div class="col footer-single-widget">

                <div class="footer-nav-container footer-social-links">
                    <h5 class="widget-title pt-20">FOLLOW US ON</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/auretics"> <i class="fa fa-facebook"></i> Facebook</a>
                            </li>
                             <li>
                                <a href="https://www.instagram.com/auretics_official/"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>

                            <li>
                                <a href="https://twitter.com/auretics/"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>

                             <li>
                                <a href="https://www.youtube.com/channel/UC3hwcu0ZrD1q87MsnQNRj5Q"> <i class="fa fa-youtube"></i> Youtube</a>
                            </li>

                             <li>
                                <a href="https://g.page/auretics?gm"> <i class="fa fa-google-plus" aria-hidden="true"></i> Google</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- copyright end -->
<!--            <div class="col footer-single-widget">-->
<!--                <h5 class="widget-title">BUSINESS TOOLS</h5>-->
<!--                <div class="footer-nav-container">-->
<!--                    <nav>-->
<!--                        <ul>-->
<!--                            <li><a href="https://auretics.com/wp-content/uploads/sites/11/2021/02/Auretics-Infinity-Plan.pdf">Compensation Plan</a></li>-->
<!--                            <li><a href="https://portal.auretics.com/">Products</a></li>-->
<!--                            <li><a href="#">Advisor Login</a></li>-->
<!--                            <li><a href="https://auretics.com/company-profile/">Company Profile</a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col footer-single-widget">-->
<!--                <h5 class="widget-title">USEFUL LINKS</h5>-->
<!--                <div class="footer-nav-container">-->
<!--                    <nav>-->
<!--                        <ul>-->
<!--                            <li><a href="https://auretics.com/auretics-as-a-career/">Auretics as a Career</a></li>-->
<!--                            <li><a href="https://auretics.com/grievance-redressal/">Grievance Redressal</a></li>-->
<!--                            <li><a href="https://auretics.com/jaago-grahak-jaago/">Jaago Grahak Jaago</a></li>-->
<!--                            &lt;!&ndash;<li><a href="#">Shop</a></li>&ndash;&gt;-->
<!--                            &lt;!&ndash;<li><a href="{% url 'faqs' %}">FAQs</a></li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col footer-single-widget">-->
<!--                <h5 class="widget-title">INFORMATION</h5>-->
<!--                <div class="footer-nav-container">-->
<!--                    <nav>-->
<!--                        <ul>-->
<!--                            <li><a href="https://auretics.com/orientation-program/">Orientation Program</a></li>-->
<!--                            <li><a href="https://auretics.com/why-our-products/">Why Our Products</a></li>-->
<!--                            <li><a href="https://auretics.com/online-academy/">Online Academy</a></li>-->
<!--                            <li><a href="https://auretics.com/legal">Legal</a></li>-->
<!--                            <li><a href="https://auretics.com/bankers">Bankers</a></li>-->
<!--                            <li><a href="https://auretics.com/gallery">Gallery</a></li>-->
<!--                            <li><a href="https://auretics.com/downloads">Downloads</a></li>-->
<!--                            <li><a href="https://auretics.com/contact-us/">Contact Us</a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
            <!--<div class="col footer-single-widget">-->
            <!--    <div class="footer-subscription-widget">-->
            <!--        <h2 class="footer-subscription-title">Subscribe.</h2>-->
            <!--        <p class="subscription-subtitle">Subscribe to our newsletter to receive news on update.</p>-->
            <!--        <div class="subscription-form">-->
            <!--            <form id="mc-form" class="mc-form">-->
            <!--                <input type="email" placeholder="Your email address" required />-->
            <!--                <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>-->
            <!--            </form>-->
            <!--        </div>-->
            <!--        <div class="mailchimp-alerts">-->
            <!--            <div class="mailchimp-submitting"></div>-->
            <!--            <div class="mailchimp-success"></div>-->
            <!--            <div class="mailchimp-error"></div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="footer-nav-container foot_bottom">
                    <nav>
                        <ul>
													<!-- AG Shout :: Removed -->
<!--                            <li><a href="https://auretics.com/disclaimer/">Disclaimer</a></li>-->
<!--                            <li><a href="https://auretics.com/terms-conditions/">Terms & Conditions</a></li>-->
<!--                            <li><a href="https://auretics.com/code-of-ethics/">Code of Ethics</a></li>-->
<!--                            <li><a href="https://auretics.com/refund-policy/">Refund Policy</a></li>-->
<!--                            <li><a href="https://auretics.com/privacy-policy/">Privacy Policy</a></li>-->
<!--                            <li><a href="https://auretics.com/sales-marketing-policy/">Sales & Marketing Policy</a></li>-->
													<!-- AG Shout :: Added -->
													<li>
															<a href="https://portal.auretics.com/static/html/disclaimer.html">Disclaimer</a>
													</li>
													<!--<li>
															<a href="https://auretics.com/terms-conditions/">Terms &amp; Conditions</a>
													</li>
													<li>
															<a href="https://auretics.com/code-of-ethics/">Code of Ethics</a>
													</li>-->
													<li>
															<a href="https://portal.auretics.com/static/html/refund_policy.html">Refund Policy</a>
													</li>
													<li>
															<a href="https://portal.auretics.com/static/html/sale_marketing_policy.html">Sales &amp; Marketing Policy</a>
													</li>
													<li>
															<a href="https://portal.auretics.com/static/html/shipping_payment_policy.html">Shipping &amp; Payment Policy</a>
													</li>
													<li>
															<a href="https://portal.auretics.com/static/html/privacy_policy.html">Privacy Policy</a>
													</li>
                         </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer area end -->
<!-- scroll to top -->
<!--<a href="#" class="scroll-top"></a>-->
<!-- end of scroll to top -->
<!-- JS -->
<!-- jQuery JS -->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<!-- Revolution Slider JS -->
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/revolution-active.js' %}"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.87.html' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script>
	$(function () {
		$("#login").modal("hide");
		$("#signup").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
			$('#e_lastname').hide();
			$('#e_firstname').hide();
			$('#e_email').hide();
			$('#e_referral_code').hide();
			$('#e_phone').hide();
			$('#e_password').hide();
			$('#e_confirmpassword').hide();

			var erro_firstname = false;
			var erro_lastname = false;
			var erro_email = false;
			var erro_referral_code = false;
			var erro_phone = false;
			var erro_password = false;
			$('#firstname').focusout(function () {
				var user_legth = $('#firstname').val().length;
				console.log(user_legth)
				if (user_legth == 0) {
					$('#e_firstname').html('please enter name');
					$("#e_firstname").css("display", "block");
					$('#e_firstname').fadeIn();
					$('#e_firstname').show();
					var erro_firstname = true;
				}
				else {
					$('#e_firstname').hide();
				}
			});
			$('#email').focusout(function () {
				var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				var emailaddressVal = $("#email").val();
				if (emailaddressVal == '') {
					$('#e_email').html('wrong email');
					$("#e_email").css("display", "block");
					$('#e_email').fadeIn();
					$('#e_email').show();

					var erro_email = true;

				}

				else if (!emailReg.test(emailaddressVal)) {
					$('#e_email').html('email must contain @');
					$("#e_email").css("display", "block");
					$('#e_email').fadeIn();
					$('#e_email').show();
					var erro_email = true;

				}
				else {
					$('#e_email').hide();

				}


			});


			$('#phone').focusout(function () {
				var phoneReg = /[0-9 -()+]+$/;
				var phoneVal = $("#phone").val();
				if (phoneVal.length <= 9) {
					$('#e_phone').html('phone numbers should be 10-12 digits in length');
					$("#e_phone").css("display", "block");
					$('#e_phone').fadeIn();
					$('#e_phone').show();
					var erro_phone = true;

				}

				else if (!phoneReg.test(phoneVal)) {
					$('#e_phone').html('only numbers are accepted');
					$("#e_phone").css("display", "block");
					$('#e_phone').fadeIn();
					$('#e_phone').show();
					var erro_phone = true;

				}
				else {
					$('#e_phone').hide();

				}
			});

			$('#confirmpassword').focusout(function () {

				var password = $("#confirmpassword").val();
				var confirmpassword = $("#confirmpassword").val();
				if (password.length == '' && confirmpassword.length == '') {
					$('#e_password').html('Password Field is empty');
					$("#e_password").css("display", "block");
					$('#e_password').fadeIn();
					$('#e_password').show();
					var erro_password = true;

				}

				else if (password != confirmpassword) {
					$('#e_confirmpassword').html('Password not match');
					$("#e_confirmpassword").css("display", "block");
					$('#e_confirmpassword').fadeIn();
					$('#e_confirmpassword').show();
					var erro_password = true;

				}
				else {
					$('#e_password').hide();
					$('#e_confirmpassword').hide();

				}



			});




			//validator.resetForm();

		});
	});
// 		$("#signup").on('show.bs.modal', function (e) {
// 			$("#login").modal("hide");
// 		});

		$("#login").on('show.bs.modal', function (e) {
			$("#signup").modal("hide");
		});

		$("#login").on('show.bs.modal', function (e) {
			$("#forgotpwd").modal("hide");
		});

		$("#forgotpwd").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
		});
	</script>
	<script src="{% static 'js/custom.js' %}"></script>
 	<script>$(document).ready(function(){
// 		$('#signup-form').on('submit', function(event){
// 			event.preventDefault();

// 			$.ajax({
// 				url: "{% url 'register' %}",
// 				type: 'POST',
// 				// headers: {'X-CSRFToken': '{{ csrf_token }}'},
// 				data: $('#signup-form').serialize(),

// 				beforeSend: function () {
// 					$("#signup").modal("show");
// 				},

// 				success: function(data) {
// 					$('#signup .modal-body').html(data);
// 				}
// 			});
// 		});
// 	});</script>

<script>
    $(document).ready(function () {
			$('input[type=radio][name="filter"]').change(function () {

				// console.log("value change")
				var aa= '<div class="row product-isotope shop-product-wrap">';
				var radioValue = $("input[name='filter']:checked").val();

				$.ajax({
					url: "{% url 'filetr_view' %}",
					method: 'GET',
					dataType:'json',
					data: {
						radioValue :radioValue
					},
					success: function (data) {
						product = data.all_products ;
						console.log(product);
						for(i=0; i<product.length; i++){
							aa += '<div class="col-sm-6 col-md-3 hot sale"><div class="single-product">	<div class="single-product__image">	<a class="image-wrap" href= "/product/'+product[i].id+'/'+product[i].slug+'/"><img src="/media/'+product[i].image+'"class="img-fluid" alt=""/></a><div class="single-product__floating-badges"><span class="onsale">-10%</span><span class="hot">hot</span></div><div class="single-product__floating-icons"><a class="wishlist" href="/product/'+product[i].id+'/'+product[i].slug+'/"><i class="ion-android-favorite-outline"></i></a></div></div><div class="single-product__content"><div class="title"><a id="productName"href="/product/'+product[i].id+'/'+product[i].slug+'/">'+product[i].product_name+'</a></div><div class="price"><span class="main-price discounted">₹160.00</span><span class="discounted-price">₹'+product[i].price+'</span></div></div></div></div>';
						}

						// console.log(product[i].image);
						$("#singleProduct").hide();
						aa += '</div>'
						$("#productls").html(aa);
						$("#sortBy").modal("hide");


					},
					error: function (error) {
						console.log(error);
						console.log("error");
						$("#sortBy").modal("hide");
					}
				});

			});
		});

// 		filter page
$(document).ready(function () {
			$("#apply").click(function () {
				var aa = '<div class="row product-isotope shop-product-wrap">';
				var checkValue = [];
				$("input[type=checkbox][name='catcheck']:checked").each(function () {
					checkValue.push($(this).val());
				});
				// var checkValue = $("input[type=checkbox][name='catcheck']:checked").val();
				console.log(checkValue)
				var radioValue = $("input[name='price']:checked").val();
				console.log(radioValue)
				$.ajax({
					url: "{% url 'filter_list' %}",
					method: 'POST',
					dataType: 'html',
					data: {
						radioValue: radioValue,
						checkValue : checkValue,

					},
					success: function (data) {
					    console.log(data);
<!--					    if(!data){alert("Nothing Found");}-->
<!--						product = data.all_products;-->
<!--						for (i = 0; i < product.length; i++) {-->
<!--							aa += '<div class="col-sm-6 col-md-3 hot sale"><div class="single-product">	<div class="single-product__image">	<a class="image-wrap" href= "/product/' + product[i].id + '/' + product[i].slug + '/"><img src="/media/' + product[i].image + '"class="img-fluid" alt=""/></a><div class="single-product__floating-badges"><span class="onsale">-10%</span><span class="hot">hot</span></div><div class="single-product__floating-icons"><a class="wishlist" href="/product/' + product[i].id + '/' + product[i].slug + '/"><i class="ion-android-favorite-outline"></i></a></div></div><div class="single-product__content"><div class="title"><a id="productName"href="/product/' + product[i].id + '/' + product[i].slug + '/">' + product[i].product_name + '</a></div><div class="price"><span class="main-price discounted">₹ '  + product[i].id +  '</span><span class="discounted-price">₹' + product[i].price + '</span></div></div></div></div>';-->
<!--						}-->
<!--						// console.log(product[i].image);-->
<!--						$("#singleProduct").hide();-->
<!--						aa += '</div>'-->
						$("#productls").html(data);
						$("#filter").trigger("reset");
						$("#filter").modal("hide");
						$('#priceFilter')[0].reset();


					},
					error: function (error) {
						console.log(error);
						$("#filter").trigger("reset");
						$('#priceFilter')[0].reset();

					}

				});

			});

		});
</script>
	{% block extra_scripts %}
	<!--Write ur exta script-->
    {% endblock extra_scripts %}

</body>

<script>
$(window).scroll(function() {
var scroll = $(window).scrollTop();

    if (scroll >= 100) {
        $(".alert-blue").addClass("alert_blue_scroll");
    }
});
</script>
</html>
