
	<!-- footer area -->
	<div class="footer-container footer-one pt-100 pb-50">
		<div class="container wide">
			<div class="row">
				<!-- copyright -->
				<div class="col footer-single-widget">
					<div class="logo">
						<img src="img/logo.png" class="img-fluid" alt="" />
					</div>
					<div class="copyright-text">
						<p>&copy; 2022 Auretics Limited <span>All Rights Reserved</span></p>
					</div>
				</div>
				<!-- copyright end -->
				<div class="col footer-single-widget">
					<h5 class="widget-title">ABOUT</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Store location</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Orders tracking</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<h5 class="widget-title">USEFUL LINKS</h5>
					<div class="footer-nav-container">
						<nav>
							<ul>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Support Policy</a></li>
								<li><a href="#">Size guide</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<h5 class="widget-title">FOLLOW US ON</h5>
					<div class="footer-nav-container footer-social-links">
						<nav>
							<ul>
								<li>
									<a href="http://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a>
								</li>
								<li>
									<a href="http://facebook.com/"> <i class="fa fa-facebook"></i> Facebook</a>
								</li>
								<li>
									<a href="http://instagram.com/"><i class="fa fa-instagram"></i> Instagram</a>
								</li>
								<li>
									<a href="http://youtube.com/"> <i class="fa fa-youtube"></i> Youtube</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col footer-single-widget">
					<div class="footer-subscription-widget">
						<h2 class="footer-subscription-title">Subscribe.</h2>
						<p class="subscription-subtitle">Subscribe to our newsletter to receive news on update.</p>
						<div class="subscription-form">
							<form id="mc-form" class="mc-form">
								<input type="email" placeholder="Your email address" required />
								<button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
							</form>
						</div>
						<div class="mailchimp-alerts">
							<div class="mailchimp-submitting"></div>
							<div class="mailchimp-success"></div>
							<div class="mailchimp-error"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer area end -->
<!-------------------------------------------------------------------------------------Do NOt Change below this --------------------------------------->
	<!-- scroll to top -->
<!--	<a href="#" class="scroll-top"></a>-->
	<!-- end of scroll to top -->

	<!-- JS -->
	<!-- jQuery JS -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins JS -->
	<script src="assets/js/plugins.js"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<!-- Revolution Slider JS -->
	<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/revolution/revolution-active.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.87.del"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

	<script>
		$("#signup").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
		});

		$("#login").on('show.bs.modal', function (e) {
			$("#signup").modal("hide");
		});

		$("#login").on('show.bs.modal', function (e) {
			$("#forgotpwd").modal("hide");
		});

		$("#forgotpwd").on('show.bs.modal', function (e) {
			$("#login").modal("hide");
		});
	</script>
</body>
</html>