<head>
    <style>
    .shubh_item input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 1.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: "Mada", sans-serif;

}
.shubh_item textarea {
    display: block;
    width: 100%;
    padding: 0.625rem 1.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: "Mada", sans-serif;

}

.shubh_item label {
    display: block;
    font-family: "Mada", sans-serif;
    font-size: 14px;
    color: #373a3c;
    font-weight: 400;
}

.capti {
    font-size: 18px;
    padding-bottom: 8px;
}
.shubh_item textarea {
    width: 100%;
}
    </style>
    </head>

{% load static %}
{% load template_tag %}
{% include "mlm_admin/include/header.html" %}
<div class="pcoded-main-container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Sale</h5>
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
            </div>
            <div class="modal-body">

    <form method="post" enctype="multipart/form-data" id="my-form">
    {% csrf_token %}
	<!--shubh-content-start-->
	<div class="container">
		<div class="row shubh_item">
		   <div class="col-md-6">
		   <label class="shubh_datee" for="date">Date Of Entry</label>
		   <input type="date" id="date_shubh" name="date_of_entry" value="{{sale_data.created_on|date:'c'}}">
		   </div>
		   <div class="col-md-6">
		   <label class="shubh_datee" for="date">Date</label>
		   <input type="date" id="date_shubh" name="date" value="{{sale_data.date|date:'c'}}">
		   </div>
		   <div class="col-md-6 mt-5">
		   <label class="shubh_datee" for="date">Party Name</label>
		   <input type="text" id="party_name" name="party_name" value="{{sale_data.party_name}}">
		   </div>
		   <div class="col-md-6 mt-5">
		       <label class="mc_namee" for="mcname">MC Name From: </label>
               <select class="form-control select2" name="material_center_from" id="material_center_from1">
                            {% for i in material_center_from %}
                            <option value={{i.pk}} {% if i.pk == sale_data.material_center_from.pk %} selected {% endif %}>{{i.mc_name}}</option>
                            {% endfor %}
                        </select>
		       </div>
		   <div class="col-md-6 mt-5">
		       <label class="mc_namee" for="mcname">MC Name To: </label>
<!--               <select class="form-control select2" name="material_center_to">-->
<!--                            {% for i in material_center_to %}-->
<!--                            <option value={{i.pk}} {% if i.pk == sale_data.material_center_to.pk %} selected {% endif %}>{{i.mc_name}}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
                            <input class="form-control"  id="mc_name_to" readonly value="{{sale_data.material_center_to.mc_name}}">
                            <input type="hidden"  id="mc_name_to_id" name="mc_center_to" value={{sale_data.material_center_to.pk}}>
		       </div>
		   <div class="col-md-6 mt-5">
		       <label class="mc_namee" for="mcname">Advisor / Distributor’s Name: </label>
<!--               <select class="form-control select2" name="user">-->
<!--                            {% for i in users %}-->
<!--                            <option value={{i.pk}} {% if i.pk == sale_data.advisor_distributor_name.pk %} selected {% endif %}>{{i.username}}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->

                <input class="form-control"  id="advisor" readonly value="{{sale_data.material_center_to.advisor_registration_number.referralcode.referral_code}}-{{sale_data.material_center_to.advisor_registration_number.username}}">
                <input type="hidden"  id="advisor_id" name="user" value={{sale_data.material_center_to.advisor_registration_number.pk}}>
		       </div>
		   <div class="col-md-6 mt-5">
		       <label class="mc_namee" for="mcname">Sale Type: </label>
               <select class="form-control" id="sale_type"  name="sale_type">
                            <option value=0 {% if sale_data.sale_type == 0 %} selected {% endif %}>With in State</option>
                            <option value=1 {% if sale_data.sale_type == 1 %} selected {% endif %}>Inter State</option>
                        </select>
		       </div>
		       <div class="col-md-6 mt-5">
		      <label class="shubh_narratione" for="narration">Narration: </label>
		       <textarea id="narration" name="narration" rows="4">{{sale_data.narration}}</textarea>
		           </div>
		           <div class="col-md-12 mt-5">
		               <div class="table-responsive-md">
		                    <div class="capti">Item Details</div>
		                    <table class="table table-hover" id="Tbl_dailyreport_data">
		                      <thead>
                                <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Batch No.</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Distributor’s Price</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Total PV</th>
                                <th scope="col">Total BV</th>
                               </tr>
                             </thead>
                             <tbody id="">
                            {% for k in data %}
                                <tr class="prod_tbl">
                                <td><select class="form-control product select2" id="edt{{ forloop.counter }}" name="item">
                            {% for i in items %}
                            <option value={{i.pk}} {% if i.pk == k.item.pk %} selected {% endif %}  >{{i.product_name}}</option>
                            {% endfor %}
                        </select></td>
                                <td><select class="form-control select2 batches batch_class"  id="edtbatch{{ forloop.counter }}" name="batch">
                            {% for i in batches %}
                                      {% if i.product.pk == k.item.pk %}
                            <option value={{i.pk}}  {% if i.pk == k.batch.pk %} selected {% endif %}>{{i.batch_name}}</option>
                                    {% endif %}
                            {% endfor %}
                        </select>
                                <br> <spam class="error alert-danger" id='batch_spam{{forloop.counter}}'></spam>
                                </td>
                                <td><input type="text" class="quantity" name="quaantity_item" id="edtquantity{{forloop.counter}}" value="{{k.quantity}}">
                                            <spam class="error alert-danger" id='quantity_spam{{forloop.counter}}'>maximum : {% check_quantity_inventory sale_data.material_center_from k.item k.batch k.quantity %}</spam>
                                            <input type="hidden" id="quantity_input{{forloop.counter}}" name="check_quantity" value={% check_quantity_inventory sale_data.material_center_from k.item k.batch k.quantity %}></td>
                                <td><input type="text" class="price" name="distributor_price" id="edtprice{{forloop.counter}}" value="{{k.distributor_price}}" readonly></td>
                                <td style="display:none;"><input type="text" class="cgst" name="cgst_item" id="edtcgst{{forloop.counter}}" value="{{k.cgst}}" readonly></td>
                                <td style="display:none;"><input type="text" class="sgst" name="sgst_item" id="edtsgst{{forloop.counter}}" value="{{k.sgst}}" readonly></td>
                                <td class="tigst"><input type="text" class="igst" name="igst_item" id="edtigst{{forloop.counter}}" value="{{k.igst}}" readonly></td>
                                <td><input type="text" class="totalamount" name="totalamount_item" id="edttotalamount{{forloop.counter}}" value="{{k.total_amount}}" readonly></td>
                                <td style="display:none;"><input type="text" class="pv_hidden" name="pv_hidden" id="pv_hidden{{forloop.counter}}" readonly value="{{k.batch.pv}}"></td>
                                <td><input type="text" class="totalPv" name="totalPv" id="pv{{forloop.counter}}" value="{{k.pv}}" readonly></td>
                                <td style="display:none;"><input type="text" class="bv_hidden" name="bv_hidden" id="bv_hidden{{forloop.counter}}" readonly value="{{k.batch.bv}}"></td>
                                <td><input type="text" class="totalBv" name="totalBv" id="bv{{forloop.counter}}" value="{{k.bv}}" readonly></td>
		                        <td>
			                        <i class="fa fa-trash dailyreport_dataDelete" alt="Delete" title="Delete" onclick="my_function_delete"></i>
		                        </td>
                                </tr>
                            {% endfor %}
                                </tbody>
		                        </table>
		                   </div>

		               <button type="button" class="btn btn-secondary float-right" id="Additem_data">Add More</button>
		               </div>
		   <div class="col-md-4">
               <label class="shubh_datee" for="date"><h5>Grand Total</h5></label>
		      <input type="text" id="grand_total" name="grand_total" value="{{sale_data.grand_total}}" readonly>
		   </div>
           <div class="col-md-4">
               <label class="grand_pv" for="grand_pv"><h5>Grand Pv</h5></label>
              <input type="text" id="grand_pv" name="grand_pv" value="{{sale_data.grand_pv}}" readonly>
           </div>
           <div class="col-md-4">
               <label class="grand_bv" for="grand_bv"><h5>Grand Bv</h5></label>
              <input type="text" id="grand_bv" name="grand_bv" value="{{sale_data.grand_bv}}" readonly>
           </div>
		  </div>
		</div>
		<!--end-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit"> Update </button>
            </div>
    </form>
        </div>

</div>
{% include "mlm_admin/include/footer.html" %}
<script>
	var cnt_multiple_product=500;
    $(document.body).on('click', '#Additem_data', function () {
        var url = '/mlm_admin/edit_saleField';
		var $tbody, $row;

	       $.ajax({
            type: 'POST',
            url: url,
			data:{cnt_multiple_product:cnt_multiple_product},
			beforeSend: function () {

            $(".modalLoader").fadeIn("fast");

        },

        complete: function () {

            $(".modalLoader").fadeOut("fast");

        },
            success: function (data) {
			$tbody = $('#Tbl_dailyreport_data.table tbody');
			$row = $tbody.find('tr:last');
			$tbody.append(data);
			cnt_multiple_product = cnt_multiple_product + 1;
            },
            error: function (data) {
            },
            dataType: 'html'
        });
    });
	$(document.body).on('click', '.dailyreport_dataDelete', function () {

        $(this).closest('tr').remove();

    });
	 $(document.body).on('keydown', '.quantityval,.rateid,.grossweight', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            (event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault();
        //if a decimal has been added, disable the "."-button

    });

	$(document.body).on('click', '#datasave', function () {

	var exampleCheck1=   $("#exampleCheck2").val();
	if (!($('#exampleCheck2').prop('checked')))
	{
		$('.help-blockdec').html('* This should be checked !');
		$('.help-blockdec').css('color','red');
		return false;
	}else{
		$('.help-blockdec').html('');
	}
	});
</script>
<script>

$('.cgst').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
$('.sgst').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
$('.igst').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
$('.vat').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
$('.price').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
    $(".quantity").on("keypress keyup blur",function (event) {
   $(this).val($(this).val().replace(/[^\d].+/, ""));
   var quantity = $(".quantity").val().length;
    if ((event.which < 48 || event.which > 57)) {
        event.preventDefault();
    }
});
$('.totalamount').keypress(function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    event.preventDefault();
  }
});
</script>
<script>
$( ".product" ).change(function () {
    var id = $(this).attr('id')
    var res = id.slice(3);
    var product = $("#edt"+res).val()
    var batch_id = "#edtbatch"+res
    $.ajax({
        url: '/mlm_admin/batch_field',
        data: {
          'product_id': product,
          'cnt_multiple_product':res,
          'myid': id
        },
        dataType: 'html',
        success: function (data) {
            $(batch_id).html(data);
        }
      });
  });

</script>
<script>
$( ".batches" ).change(function () {
    var id = $(this).attr('id')
    var res = id.slice(8);
    var batch = $("#edtbatch"+res).val()
    var product = $("#edt"+res).val()
    var sale_type = $("#sale_type").val()
    var priceval = $("#edttotalamount"+res).val()
    var grand_total = $("#grand_total").val()
    var material_center_from = $("#material_center_from1").val()
    $.ajax({
        url: '/mlm_admin/product_detail',
        data: {
          'product_id': product,
          'batch_id':batch,
          'sale_type':sale_type,
          'material_center_from': material_center_from,
          'myid': id
        },
        dataType: 'json',
        success: function (data) {
        $("#edtprice"+res).val(data['distributor_price']);
        $("#edtcgst"+res).val(data['cgst']);
        $("#edtsgst"+res).val(data['sgst']);
        $("#edtigst"+res).val(data['igst']);
        $("#edtvat"+res).val(data['vat']);
        $("#pv"+res).val(0);
        $("#bv"+res).val(0);
        $("#pv_hidden"+res).val(data['pv']);
        $("#bv_hidden"+res).val(data['bv']);
        $("#edttotalamount"+res).val(0);
        $("#edtquantity"+res).val(0);
        $("#quantity_spam" + res).html('maximum : ' + data['batch_quantity']);
        $("#quantity_spam" + res).show();
        },
        error: function(data) {
        $("#edtprice"+res).val(0);
        $("#edtcgst"+res).val(0);
        $("#edtsgst"+res).val(0);
        $("#edtigst"+res).val(0);
        $("#edtvat"+res).val(0);
        $("#pv"+res).val(0);
        $("#bv"+res).val(0);
        $("#pv_hidden"+res).val(0);
        $("#bv_hidden"+res).val(0);
        $("#edttotalamount"+res).val(0);
        $("#edtquantity"+res).val(0);
        }
      });
      if (priceval == '' ){
            priceval = 0;
      }
      priceval=parseFloat(priceval)
      grand_total=parseFloat(grand_total)
        $("#grand_total").val(grand_total - priceval);
  });
</script>
<script>

 $(".quantity").focusout(function(){
    var id = $(this).attr('id');
    var res = id.slice(11);
    var quantity = $("#"+id).val();
    var highestquantity = $("#quantity_input"+res).val();
    if (quantity == '' || parseInt(quantity) > parseInt(highestquantity) ){
    $("#"+id).val(0);
    quantity = 0
    }
    quantity = parseInt(quantity)
    var price = $("#edtprice"+res).val();
    price = parseFloat(price)
    var igst = $("#edtigst"+res).val();
    igst = parseFloat(igst)
    var cgst = $("#edtcgst"+res).val();
    cgst = parseFloat(cgst)
    var sgst = $("#edtsgst"+res).val();
    sgst = parseFloat(sgst)
    // var vat = $("#edtvat"+res).val();
    // vat = parseFloat(vat)
    var grand_total = $("#grand_total").val();
    grand_total = parseFloat(grand_total)
    amount = $("#edttotalamount"+res).val();
    value = parseInt(amount)
    grand_total = (grand_total - amount)
    var sale_type = $("#sale_type").val()
    if (sale_type == '0'){
    // var value = quantity * (price + cgst + sgst + vat)
    var value = quantity * (price + cgst + sgst)
    }
    if (sale_type == '1'){
    // var value = quantity * (price + igst + vat)
    var value = quantity * (price + igst)
    }
    value = parseFloat(value)
    value = Math.round(value * 100) / 100

    // Calculate Grand PV and BV (select current grand PV value)
    var grand_pv = $("#grand_pv").val();
    grand_pv = parseFloat(grand_pv)

    var grand_bv = $("#grand_bv").val();
    grand_bv = parseFloat(grand_bv)

    // Select current Total PV and BV value
    var pv_amount = $("#pv"+res).val();
    var bv_amount = $("#bv"+res).val();

    // Extract the all other PV and BV values
    grand_pv_value_left = (grand_pv - pv_amount)
    grand_bv_value_left = (grand_bv - bv_amount)

    // Calculate total pv
    var base_pv = $("#pv_hidden"+res).val()
    base_pv = parseFloat(base_pv)
    var base_bv = $("#bv_hidden"+res).val()
    base_bv = parseFloat(base_bv)

    base_pv = base_pv * quantity;
    base_bv = base_bv * quantity;

    $("#pv"+res).val(base_pv);
    $("#bv"+res).val(base_bv);

    $("#grand_pv").val(Math.round((grand_pv_value_left + base_pv) * 100) / 100);
    $("#grand_bv").val(Math.round((grand_bv_value_left + base_bv) * 100) / 100);

    $("#edttotalamount"+res).val(value);
    $("#grand_total").val(value + grand_total);
 });

</script>
<script>

$(document).ready(function() {
    $(document.body).on('change', '#sale_type', function () {
		var emval = $('#sale_type').val();
		if(emval=='1') {
			$(".tcgst").hide();
			$(".tigst").show();
			$(".tsgst").hide();
		} else {
			$(".tcgst").show();
			$(".tigst").hide();
			$(".tsgst").show();
		}
});
var emval = $('#sale_type').val();
		if(emval=='1') {
			$(".tcgst").hide();
			$(".tigst").show();
			$(".tsgst").hide();
		} else {
			$(".tcgst").show();
			$(".tigst").hide();
			$(".tsgst").show();
		}
});
</script>



<script>
$(document).ready(function() {
    $(document.body).on('change', '.batch_class', function () {
		 var batch_class_id = $(this).attr('id');
		 var seq_no = batch_class_id.substring(8);
		 var itemid = $('#edt'+seq_no).val();
		 var batch_item_id = $('#edtbatch'+seq_no).val();
		  $.ajax({
            type: 'POST',
        url: '/mlm_admin/check_f',
        data: {
          'cnt_multiple_seq_no':seq_no,
          'cnt_multiple_product':itemid,
        },
        dataType: 'html',
        success: function (data) {
		$( ".batch_class" ).each(function() {
       var id_batch = $(this).attr('id');
       var seq_new = id_batch.substring(8);
	   var batch_item = $('#edtbatch'+seq_new).val();
	   var batch_item_id = $('#edtbatch'+seq_no).val();
	   if(seq_no != seq_new){
	    if(batch_item_id==batch_item){
	      alert('Your have alredy seleted this Batch Please choose other options' );
		    var itemid = $('#edtbatch'+seq_no).html(data);
        $("#quantity_spam"+ seq_no ).hide();
        $("#edtprice"+seq_no).val(0);
        $("#edtcgst"+seq_no).val(0);
        $("#edtsgst"+seq_no).val(0);
        $("#edtigst"+seq_no).val(0);
        $("#edtvat"+seq_no).val(0);
        $("#quantity_input"+seq_no).val();
        $("#quantity_spam" + seq_no).html('maximum : 0');
		}
		else
		{
		$("#quantity_spam" + seq_no).show();
		}
	   } else {

	   }
     });
   },
      });
    });
    });
</script>

<script>
$(document).ready(function() {
    $('#my-form').submit(function(){
        var check = true;
	   $( ".batch_class" ).each(function() {
       var id_batch = $(this).attr('id');
       var res = id_batch.slice(8);
       var batch = $('#'+ id_batch).val();
       var price = $('#edtprice'+ res).val();
       var quantity = $('#edtquantity'+ res).val();
       if (batch == 0){
       check = false;
       $("#batch_spam" + res).html('Please Select the Batch! ');
       }
       else{
       $("#batch_spam" + res).html('');
	   }
       if (price == '' || price == '0'){
       check = false;
       $("#price_spam" + res).html('required!');
       }
       else{
       $("#price_spam" + res).html('');
	   }
       if (quantity == '' || quantity == '0'){
       check = false;
       $("#quantity_spam" + res).html('required!');
       }
       else{
       $("#quantity_spam" + res).html('');
	   }
     });
     if (check == true){
	   return true;
	   }
	   else{
	   return false;
	   }
    });
    });
</script>