<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
.task-data i {
    color: #ffffff !important;
    font-family: 'fontawesome';
}
.subhtask_tab .dataTables_filter {
    float: right;
    margin-bottom: 20px;
}
.subhtask_tab .dataTables_length {
    white-space: nowrap;
    line-height: 70px;
}
</style>
</head>
{% load static %}
{% include "mlm_admin/include/header.html" %}


<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">List Referral</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">MLM Admin</a></li>
                            <li class="breadcrumb-item"><a href="#!">Referral Code Management</a></li>
                            <li class="breadcrumb-item"><a href="#!">Referral Code list</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ task-list ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        {% for message in messages   %}
				  <div class="alert alert-{{ message.tags }}" role="alert">
    				<div class="text-center">
    				<strong>Messages: </strong> {{ message }}
					   </div>
    					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      					<span aria-hidden="true">&times;</span>
    					</button>
				  </div>
  				{% endfor %}
                        <h5>Referral Code list</h5>
<!--                        ---------------------------------------Search dynamic------------------------------------------>
                        <div class="col-md-6 pull-right">
                            <form>
                            <div class="input-group">
                                <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
                                <div class="input-group-append">
                                    <button class="btn btn-dark btn-lg" type="submit" id="button-adding2">Search</button>
                                    </div>
                            </div>
                                </form>
                        </div>
<!--                        ---------------------------------------Search dynamic------------------------------------------>
                    </div>
                    <div class="card-body task-data hide_table_row">
                        <div class="table-responsive form-material subhtask_tab">
                            <table id="simpletable" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
                                <thead>
									<tr>
                                        <th>Name</th>
										<th>Email Id</th>
										<th>Mobile</th>
										<th>ARN</th>
										<!--<th>Status</th>-->
                                        <th>Action</th>
									</tr>
                                </thead>
								<tbody>
								{% for i in data %}
									<tr>
                                        <td>
                                            {{i.user_id.profile.first_name}} {{i.user_id.profile.last_name}}
                                            <br />
                                            {% for key, value in title_data.items %}
                                            {% if key == i.user_id %}
                                            <b>Title:</b> <u>{{ value.highest_qualification_ever }}</u><br /><br />
                                                <sub><b>Current Title:</b> {{ value.current_month_qualification }}<br /></sub>
                                            <br /><br /><b>DOJ:</b> {{i.user_id.profile.created_on|date:"M d, Y"}}
                                            {% endif %}
                                            {% endfor %}
                                        </td>
										<td>
											<div class="d-inline-block align-middle">
												<label>{{i.user_id}}</label>
                                            <br />
                                                {# Current Month Realtime Data #}
                                                {% for key, value in rt_cm_data.items %}
                                                {% if key == i.user_id %}
                                                <b>Current Month Details:</b><br />
                                                {% if not value.not_found %}
                                                <b>PBV:</b> {{ value.rt_pbv }} | <b>SBV:</b> {{ value.rt_user_super_pbv }} | <b>IBV:</b> {{ value.rt_user_infinity_pbv }}<br />
                                                <b>LBV:</b> {{ value.rt_left_bv_month }} | <b>RBV:</b> {{ value.rt_right_bv_month }} <br />
                                                <b>GBV:</b> {{ value.rt_gbv_month }} | <b>TBV:</b> {{ value.rt_tbv_month }}<br />
                                                <b>Active Status: {% if value.rt_is_user_green == True %} <span style="color:Green;"> {% else %} <span style="color:Red;"> {% endif %} {{ value.rt_is_user_green }}</span></b><br />
                                                {% endif %}
                                                <b>{{ value.not_found }}</b><br /><br />
                                                {% endif %}
                                                {% endfor %}

                                                {# Previous Month Realtime Data #}
                                                {% for key, value in rt_pm_data.items %}
                                                {% if key == i.user_id %}
                                                <b>Previous Month Details:</b><br />
                                                {% if not value.not_found %}
                                                <b>PBV:</b> {{ value.rt_pbv }} | <b>SBV:</b> {{ value.rt_user_super_pbv }} | <b>IBV:</b> {{ value.rt_user_infinity_pbv }}<br />
                                                <b>LBV:</b> {{ value.rt_left_bv_month }} | <b>RBV:</b> {{ value.rt_right_bv_month }} <br />
                                                <b>GBV:</b> {{ value.rt_gbv_month }} | <b>TBV:</b> {{ value.rt_tbv_month }}<br />
                                                {% endif %}
                                                <b>{{ value.not_found }}</b><br />
                                                {% endif %}
                                                {% endfor %}

                                                {% for key, value in rt_data_active.items %}
                                                {% if key == i.user_id %}
                                                <b>Green Status: <span style="color:{% if value.data_green == "NOT ACTIVATED" %}RED{% elif value.data_green == "YELLOW" %}GOLD{% elif value.data_green == "GREEN" %}GREEN{% else %}BLACK{% endif %};"> {{ value.data_green }}</span></b><br />
                                                {% endif %}
                                                {% endfor %}
												</div>
										</td>
										<td>{{i.user_id.profile.phone_number}}
                                        </td>
                                        <td>
                                            <label><b><u>{{i.referral_code}}</u></b></label><br />
                                            <span><b>Upline:</b><br />{{ i.referal_by.profile.first_name }} {{ i.referal_by.profile.last_name }}</span><br />
                                            <span>({{ i.referal_by.referralcode.referral_code }})</span><br /><br />
                                        </td>
										<!--<td>
											<span class="badge badge-light-success">{{i.status}}</span>
                                        </td>-->

                                        <td>
											<div class="overlay-edit">
							                {% if '2' in request.user.menu_permission.user_management %}
												<a class="btn btn-success btn-action" href="{% url 'edit_user' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-success"><i class="feather icon-edit-2"></i></button>
												</a>
                                            {% endif %}
							                {% if '3' in request.user.menu_permission.user_management %}
												<a class="btn  btn-primary btn-action" href="/mlm_admin/view_referral/{{i.pk}}">
												<button type="button" class="btn btn-icon btn-primary"><i class="feather icon-eye"></i></button>
												</a>
                                            {% endif %}
												<a class="btn  btn-primary btn-action" href="{% url 'change_passcode' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-lock'></i></button>
												</a>
                                                <br /><br />
												<a class="btn  btn-primary btn-action" href="{% url 'mlm_calculation_binary' i.user_id.pk i.referral_code %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-align-right'></i></button>
												</a>
												<a class="btn  btn-primary btn-action" href="{% url 'mlm_admin_general_stracture' i.user_id.pk i.referral_code %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-align-left'></i></button>
												</a>
                                                <a class="btn btn-success btn-action" href="https://api.whatsapp.com/send?phone=91{{i.user_id.profile.phone_number}}">
												<button type="button" class="btn btn-icon btn-success"><i class="feather icon-message-circle"></i></button>
												</a>
                                                <br /><br />
                                                <a class="btn  btn-primary btn-action" href="{% url 'user_dashboard_8_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-list'></i></button>
												</a>
                                                <a class="btn  btn-primary btn-action" href="{% url 'order_summary_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-shopping-cart'></i></button>
												</a>
                                                <a class="btn  btn-primary btn-action" href="{% url 'mlm_admin_user_dashboard_3_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-credit-card'></i></button>
												</a>
                                                <br /><br />
                                                <a class="btn  btn-primary btn-action" href="{% url 'mlm_admin_user_dashboard_4_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-download'></i></button>
												</a>
                                                <a class="btn  btn-primary btn-action" href="{% url 'mlm_admin_user_dashboard_5_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-briefcase'></i></button>
												</a>
                                                <a class="btn  btn-primary btn-action" href="{% url 'mlm_admin_user_dashboard_6_add' i.user_id.pk %}">
												<button type="button" class="btn btn-icon btn-primary"><i class='feather icon-life-buoy'></i></button>
												</a>
                                                <br /><br />
                                                <a class="btn btn-success btn-action" href="{% url 'change_mobile_number' i.user_id.pk %}">
                                                    <button type="button" class="btn btn-icon btn-success"><i class="feather icon-phone"></i></button>
                                                </a>
                                                <a class="btn btn-success btn-action" href="{% url 'change_email_id' i.user_id.pk %}">
                                                    <button type="button" class="btn btn-icon btn-success"><i class="feather icon-mail"></i></button>
                                                </a>
                                                <a class="btn btn-success btn-action" href="{% url 'blocked_user_list'%}">
                                                    <button type="button" class="btn btn-icon btn-success"><i class="feather icon-stop-circle"></i></button>
                                                </a>
                                            </div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
                            </table>
                        </div>
<!--  ---------------------------------------Pagination dynamic------------------------------------------>

<nav class="my-3 container">
    <ul class="pagination">
        {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?q={{q}}&page={{data.previous_page_number}}">Previous</a>
        </li>
        {% if data.number > 3 %}
        <li class="page-item">
            <a class="page-link" href="?q={{q}}&page=1">1</a>
        </li>
        {% if data.number > 4 %}
        <span>...</span>
        {% endif %}
        {% endif %}
        {% endif %}
        {% for num in data.paginator.page_range %}
        {% if data.number == num %}
        <li class="page-item active">
            <a class="page-link" href="?q={{q}}&page={{num}}">
                {{num}}
            </a>
        </li>
        {% elif num > data.number|add:'-3' and num < data.number|add:'3' %} <li
            class="page-item">
            <a class="page-link" href="?q={{q}}&page={{num}}">
                {{num}}
            </a>
            </li>
            {% endif %}
            {% endfor %}

            {% if data.has_next %}
            {% if data.number < data.paginator.num_pages|add:'-3' %} <span>...</span>
                <li class="page-item">
                    <a class="page-link" href="?q={{q}}&page={{ data.paginator.num_pages }}">
                        {{data.paginator.num_pages}}
                    </a>
                </li>
                {% elif data.number < data.paginator.num_pages|add:'-2' %}
                <li class="page-item">
                    <a class="page-link" href="?q={{q}}&page={{ data.paginator.num_pages }}">
                        {{data.paginator.num_pages}}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?q={{q}}&page={{ data.next_page_number }}">Next</a>
                </li>
                {% endif %}
    </ul>
</nav>
<!--  ---------------------------------------Pagination dynamic------------------------------------------>
                    </div>
                </div>
            <!-- [ task-list ] end -->
        </div>
        <!-- [ Main Content ] end -->
</section>
<!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src='{% static "tms/images/browser/chrome.png" %}' alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src='{% static "tms/images/browser/firefox.png" %}' alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src='{% static "tms/images/browser/opera.png" %}' alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src='{% static "tms/images/browser/safari.png" %}' alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src='{% static "tms/images/browser/ie.png" %}' alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

{% include "mlm_admin/include/footer.html" %}
<script src='{% static "tms/js/plugins/jquery.dataTables.min.js" %}'></script>
<script src='{% static "tms/js/plugins/dataTables.bootstrap4.min.js" %}'></script>
<script type="text/javascript">
    setTimeout(function() {
        $('#simpletable').DataTable();
    }, 600);
</script>
<script type="text/javascript">

		function myFunctiondata()
		{

	  		if(!confirm("Are you sure you want to delete this record")){
				return false;
	  		}
		}
	</script>
<script>
    // DataTable start
    $('#report-table').DataTable();
    // DataTable end
</script>