<style>
    .arju_tab {
    width: 100%;
}
</style>
{% load static %}
{% load shop_tag %}
{% include "mlm_admin/include/header.html" %}
<div class="pcoded-main-container">
    <div class="modal-content">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Track Order </h5>
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
        </div>
       <div class="m-4 text-center" > 
        Track Order Url:  <a href="{{track_url}}" class="btn btn-primary">{{track_url}}</a>
        </div>
        <br>
        
        <div class="modal-body">
            <h3 class="text-center">TRACKING ORDER DETAILS</h3>
            <br>
             <div class="row"> 
          
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="floating-label" for="category_name"><small class="text-danger">* </small>Track Status</label>
<!--                        <input type="text" class="form-control" id="category_name" name="category_name" placeholder="">-->
                        {{tracking_data.track_status}}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="floating-label" for="is_parent_category"><small class="text-danger">* </small>Shippment Status</label>
<!--                        <select class="form-control" id="is_parent_category" name="is_parent_category">-->
<!--                            <option value="Yes">Yes</option>-->
<!--                            <option value="No">No</option>-->
<!--                        </select>-->
                    {{tracking_data.shipment_status}}
                </div>
            </div>
            </div>
        <div class="container-fluid">
            <h4 class="m-3 text-center">Shipment Tracking Data</h4>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="description">ID</label>
<!--                            <textarea type="textarea" class="form-control" id="description" name="description" placeholder="Please Enter Description"></textarea>-->
                        {{shipment_track.id}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">Date</label>
                        <input type="" class="form-control" value="{{date.date}}" id="commission" name="commission" disabled placeholder="123">
                    </div>
                </div>

            <div class="col-sm-6">
            <div class="form-group form-primary mb-0">
                        <label class="floating-label" for="commission">Status</label>

                        {{shipment_track.current_status}}
                                            <!-- <select class="form-control status" id="{{i.pk}}" disabled name="status" required>
                                                    <option value="">Select an option</option>
                                                    <option value="1" {% if status == 1 %} selected {% endif %} >Accept Order</option>
                                                    <option value="2" {% if status == 2 %}  selected {% endif %} >Ready To Dispatch</option>
                                                    <option value="3" {% if status == 3 %}  selected {% endif %} >Dispatched</option>
                                                    <option value="4" {% if status == 4 %}  selected {% endif %} >Delivered</option>
                                                    <option value="5" {% if status == 5 %}  selected {% endif %} >Reject Order</option>
                                                    <option value="6" {% if status == 6 %}  selected {% endif %} >Refund</option>
                                                    <option value="6" {% if status == 7 %}  selected {% endif %} >Return</option>
                                            </select> -->
                                            <span class="form-bar"></span>
                                        </div>
            </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">Paid</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.awb_code}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">courier_company_id</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.courier_company_id}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">shipment_id</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.shipment_id}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">order_id</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.order_id}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">pickup_date</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.pickup_date}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">delivered_date</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.delivered_date}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">weight</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.weight}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="show_on_home_page">packages</label>
<!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
<!--                            <option value='Show'>Show</option>-->
<!--                            <option value='Not Show'>Not Show</option>-->
<!--                        </select>-->
                        {{shipment_track.packages}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">delivered_to</label>
<!--                            <input type="" class="form-control" id="commission" name="commission" placeholder="123">-->
                        {{shipment_track.delivered_to }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">destination</label>
<!--                            <input type="" class="form-control" id="commission" name="commission" placeholder="123">-->
                        {{shipment_track.destination }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">consignee_name</label>
<!--                            <input type="" class="form-control" id="commission" name="commission" placeholder="123">-->
                        {{shipment_track.consignee_name }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">origin:</label>
<!--                            <input type="" class="form-control" id="commission" name="commission" placeholder="123">-->
                        {{shipment_track.origin }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group fill">
                        <label class="floating-label" for="commission">CITY:</label>
<!--                            <input type="" class="form-control" id="commission" name="commission" placeholder="123">-->
                        {{shipment_track.courier_agent_details }}
                    </div>
                </div>
                 


                    </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cart page content end -->
</div>
<!--        show krne walla yha per end h-->
        </div>
    </div>
</form>
    </div>
</div>
{% include "mlm_admin/include/footer.html" %}
 
