<style>
    .arju_tab {
        width: 100%;
    }

</style>
{% load static %}
{% load shop_tag %}
{% include "mlm_admin/include/header.html" %}
<div class="pcoded-main-container">
    {% for message in messages   %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <div class="text-center">
            <strong>Messages: </strong> {{ message }}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


    <div class="modal-content">
        <form action="{%url 'mv_details' verify_detail.id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Manual Verification </h5>
                <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--                    <span aria-hidden="true">&times;</span>-->
                <!--                </button>-->
            </div>

            <br>

            <div class="modal-body">
                <h3 class="text-center">Verification Details</h3>
                <br>
                <div class="row">


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floating-label" for="category_name"><small class="text-danger">*
                                </small>ID</label>
                            <input type="text" value=" {{verify_detail.id}}" class="form-control" id="category_name"
                                name="category_name" readonly placeholder="">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floating-label" for="is_parent_category"><small class="text-danger">*
                                </small>Username</label>
                            <!--                        <select class="form-control" id="is_parent_category" name="is_parent_category">-->
                            <!--                            <option value="Yes">Yes</option>-->
                            <!--                            <option value="No">No</option>-->
                            <!--                        </select>-->
                            <input type="" class="form-control" value="{{verify_detail.kyc_user.username}}"
                                id="commission" name="commission" disabled placeholder="">

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <h4 class="m-3 text-center">Extra Details</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label" for="description">User Email</label>
                            <!--                            <textarea type="textarea" class="form-control" id="description" name="description" placeholder="Please Enter Description"></textarea>-->
                            <input type="" class="form-control" value="{{verify_detail.kyc_user.email}}" id="commission"
                                name="commission" disabled placeholder="">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label" for="commission">Name</label>
                            <input type="" class="form-control"
                                value="{{verify_detail.kyc_user.profie.first_name}} {{verify_detail.kyc_user.profile.last_name}}"
                                id="commission" name="commission" disabled placeholder="">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-primary mb-0">
                            <label class="floating-label" for="commission">Pan Number</label>

                            <input type="" class="form-control" value="{{verify_detail.pan_number}}" id="commission"
                                name="commission" disabled placeholder="">

                            <!-- <select class="form-control status" id="{{i.pk}}" disabled name="status" required>
                                                    <option value="">Select an option</option>
                                                    <option value="1" {% if status == 1 %} selected {% endif %} >Accept Order</option>
                                                    <option value="2" {% if status == 2 %}  selected {% endif %} >Ready To Dispatch</option>
                                                    <option value="3" {% if status == 3 %}  selected {% endif %} >Dispatched</option>
                                                    <option value="4" {% if status == 4 %}  selected {% endif %} >Delivered</option>
                                                    <option value="5" {% if status == 5 %}  selected {% endif %} >Reject Order</option>
                                                    <option value="6" {% if status == 6 %}  selected {% endif %} >Refund</option>
                                                    <option value="6" {% if status == 7 %}  selected {% endif %} >Return</option>
                                            </select> -->
                            <span class="form-bar"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label" for="show_on_home_page">PAN File</label>
                            <!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
                            <!--                            <option value='Show'>Show</option>-->
                            <!--                            <option value='Not Show'>Not Show</option>-->
                            <!--                        </select>-->

                            <a target="_blank" href="{{verify_detail.pan_file.url}}">
                                <img src="{{verify_detail.pan_file.url}}" width="50%" height="auto" id="commission">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label"
                                for="show_on_home_page">{{verify_detail.id_proof_type}}</label>
                            <!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
                            <!--                            <option value='Show'>Show</option>-->
                            <!--                            <option value='Not Show'>Not Show</option>-->
                            <!--                        </select>-->
                            <a target="_blank" href="{{verify_detail.id_proof_file.url}}">
                                <img src="{{verify_detail.id_proof_file.url}}" width="50%" height="auto"
                                    name="commission">
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label"
                                for="show_on_home_page">{{verify_detail.address_proof_type}}</label>
                            <!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
                            <!--                            <option value='Show'>Show</option>-->
                            <!--                            <option value='Not Show'>Not Show</option>-->
                            <!--                        </select>-->
                            <a target="_blank" href="{{verify_detail.address_proof_file.url}}">
                                <img src="{{verify_detail.address_proof_file.url}}" width="50%" height="auto"
                                    name="commission">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label" for="show_on_home_page">Date</label>
                            <!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
                            <!--                            <option value='Show'>Show</option>-->
                            <!--                            <option value='Not Show'>Not Show</option>-->
                            <!--                        </select>-->
                            <input type="" class="form-control" value="{{verify_detail.date}}" id="commission"
                                name="commission" disabled placeholder="">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fill">
                            <label class="floating-label" for="show_on_home_page">Verified</label>
                            <!--                            <select class="form-control" id="show_on_home_page" name="show_on_home_page">-->
                            <!--                            <option value='Show'>Show</option>-->
                            <!--                            <option value='Not Show'>Not Show</option>-->
                            <!--                        </select>-->
                            <select class="form-control" name="verified">
                                <option value='{{verify_detail.verified}}'>{{verify_detail.verified}}</option>
                                <option value="False">False</option>
                                <option value="True">True</option>

                            </select>

                        </div>
                    </div>



                </div>

            </div>
            <div class="container-fluid text-center">
                <a style="width:50%" class="btn btn-primary" href="{%url 'auto_kyc_verification' verify_detail.id%}">Try
                    auto verification</a>
            </div>
            <br>
            <div class="container-fluid">
                <button style="width:100%" class="btn btn-primary" type="submit">Submit Details</button>
            </div>
            <br>
            <br>
    </div>


</div>
</div>
</div>

<!-- cart page content end -->
</div>
<!--        show krne walla yha per end h-->
</div>
</div>
</form>
</div>
</div>
{% include "mlm_admin/include/footer.html" %}
