{% extends 'shop/base.html' %}
{% block extra_styles %}
<style>
    .regi_inpu select {
        width: 100%;
        padding: 14px 11px;
        border: 1px solid #e5e5e5;
    }

    .shubh_terms a {
        color: #000;
        text-decoration: underline;
    }

    .shubh_terms a:hover {
        text-decoration: underline !important;
    }

</style>
{% endblock extra_styles %}

{% block content %}
<!-- End of search overlay -->
<div class="container">
    <!-- personal details start-->
    <div class="row regi_header">
        <div class="col-md-12">
            <a class="btn btn-success btn-action" href="{% url 'home'  %}">
                <button type="button" class="btn btn-icon btn-success">
                    <i class="fa fa-arrow-circle-o-left" style="font-size:30px;color:black"></i></button>
            </a>
            <p>{{registration_form}}</p>
            <span class="ml-80">You can edit unverified details only. In case of any query please contact Auretics
                Support at 1800 889 0360 or mail at support@auretics.com</span><br /><br />
            <div class="text-center">
                <h4><a style=" " class="btn-link text-center" href="{% url 'show_cart' %}?skip_kyc=Y">To skip KYC and
                        place order, please Click Here.</a></h4>
            </div>
        </div>
    </div>
    <form method="POST" name='registrationform' id="my-form" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row regibg_bg">
            <div class="col-md-12">
                <div class="head_new mt-40"> Personal Details
                </div>
            </div>
            {% if check_user_qs.check_first_name != True %}
            <div class="col-md-6">
                <label for="firstname" class="regi_lab">First name*
                </label>
                <input type="text" id="id_firstname" name="firstname" class="regi_inpu" value="{{ profile.first_name }}"
                    placeholder="Enter first name" required="required">
                <div class="error alert-danger" id="e_fname" style="display:none;"></div>
            </div>
            {% endif %}

            {% if check_user_qs.check_last_name != True %}
            <div class="col-md-6">
                <label for="lastname" class="regi_lab">Last name
                </label>
                <input type="text" id="id_lastname" name="lastname" class="regi_inpu" placeholder="Enter last name"
                    value="{{ profile.last_name }}">
            </div>
            {% endif %}

            {% if check_user_qs.check_date_of_birth != True %}
            <div class="col-md-6">
                <label for="birthday" class="regi_lab">Birthday*
                </label>
                <input type="date" id="id_birthday" name='birthday' class="regi_inpu"
                    value="{{profile.date_of_birth|date:'Y-m-d'}}" placeholder="choose your dob">
                <div class="error alert-error" id="err_birthday" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_co_applicant != True %}
            <div class="col-md-6">
                <label for="co-applicant" class="regi_lab"> Co-Applicant’s Name (if Co-Applying)
                </label>
                <input type="text" id="id_co-applicant" name="co_applicant" value="{{profile.co_applicant}}"
                    class="regi_inpu" placeholder="Enter co-applicant name">
                <div class="error alert-error" id="err_coapplicant" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_blood_group != True %}
            <div class="col-md-6">
                <label for="#" class="regi_lab">Blood Group*
                </label>
                <select class="regi_inpu" name="blood_group">
                    <option value='A' {% if profile.blood_group == 'A' %} selected {% endif %}>A</option>
                    <option value='B' {% if profile.blood_group == 'B' %} selected {% endif %}>B</option>
                    <option value='AB' {% if profile.blood_group == 'AB' %} selected {% endif %}>AB</option>
                    <option value='O' {% if profile.blood_group == 'O' %} selected {% endif %}>O</option>
                    <option value="I don't know" {% if profile.blood_group == "I don't know" %} selected {% endif %}>I
                        don't Know</option>
                </select>
            </div>
            {% endif %}
            {% if check_user_qs.check_blood_rh_factor != True %}
            <div class="col-md-6">
                <label for="birthday" class="regi_lab">Blood RH Factor*
                </label>
                <select class="regi_inpu" name="blood_rh_factor">
                    <option value='positive' {% if profile.blood_rh_factor == 'positive' %} selected {% endif %}>
                        Positive(+)</option>
                    <option value='negative' {% if profile.blood_rh_factor == 'negative' %} selected {% endif %}>
                        Negative(-)</option>
                    <option value="I don't know" {% if profile.blood_rh_factor == "I don't know" %} selected
                        {% endif %}>I don't Know</option>
                </select>
            </div>
            {% endif %}
            {% if check_user_qs.check_gender != True %}
            <div class="col-md-6">
                <label for="birthday" class="regi_lab">Gender* </label>
                <select class="regi_inpu" name="gender">
                    <option value='NOT Disclose' {% if profile.gender == 'NOT Disclose' %} selected {% endif %}>NOT
                        Disclose</option>
                    <option value='Male' {% if profile.gender == 'Male' %} selected {% endif %}>Male</option>
                    <option value="Female" {% if profile.gender == "Female" %} selected {% endif %}>Female</option>
                </select>
            </div>
            {% endif %}
        </div>
        <!-- personal details end-->
        <!-- Address-start -->
        <div class="row addbg_bg"
            {% if check_user_qs.check_house_number and check_user_qs.check_address_line and check_user_qs.check_Landmark and check_user_qs.check_city and check_user_qs.check_state and check_user_qs.check_street and check_user_qs.check_pin and check_user_qs.check_mobile and check_user_qs.check_alternate_mobile %}
            hidden {% endif %}>
            <div class="col-md-12">
                <div class="head_new">
                    Address Details
                </div>
            </div>
            {% if check_user_qs.check_house_number != True %}
            <div class="col-md-6">
                <label for="house" class="regi_lab">House Number*
                </label>
                <input type="text" id="house" class="regi_inpu" name="house" value="{{address.house_number}}"
                    placeholder="Enter house number">
                <div class="error alert-error" id="err_house" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_street != True %}
            <div class="col-md-6">
                <label for="confirm-password" class="regi_lab">Street
                </label>
                <input type="street" class="regi_inpu" name="street" id="street" value="{{address.street}}"
                    placeholder="Enter street name">
                <div class="error alert-error" id="err_street" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_address_line != True %}
            <div class="col-md-6">
                <label for="address2" class="regi_lab">Address line 2
                </label>
                <input type="text" id="address2" name="address2" class="regi_inpu" value="{{address.address_line}}"
                    placeholder="Enter address">
                <div class="error alert-error" id="err_address2" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_Landmark != True %}
            <div class="col-md-6">
                <label for="confirm-password" class="regi_lab">Landmark
                </label>
                <input type="landmark" class="regi_inpu" name="landmark" id="landmark" value="{{address.Landmark}}"
                    placeholder="Enter landmark">
                <div class="error alert-error" id="err_landmark" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_city != True %}
            <div class="col-md-6">
                <label for="city" class="regi_lab">City*
                </label>
                <input type="text" id="city" class="regi_inpu" name="city" value="{{address.city}}"
                    placeholder="Enter city">
                <div class="error alert-error" id="err_city" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_state != True %}
            <div class="col-md-6">
                <label for="city" class="regi_lab">State*
                </label>
                <select class="regi_inpu" name="state" id="state">
                    {% for i in state %}
                    <option value="{{i.pk}}" {% if address.state.pk == i.pk %} selected {% endif %}>{{i.state_name}}
                    </option>
                    {% endfor %}
                </select>
                <div class="error alert-error" id="err_state" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_pin != True %}
            <div class="col-md-6">
                <label for="pincode" class="regi_lab">Pin Code*
                </label>
                <input type="pincode" class="regi_inpu" id="pincode" name="pincode" value="{{address.pin}}"
                    placeholder="Enter pincode">
                <div class="error alert-error" id="err_pincode" style="display:none;"></div>
            </div>
            {% endif %}
            {% if check_user_qs.check_alternate_mobile != True %}
            <div class="col-md-6">
                <label for="altmobile" class="regi_lab">Alternate Mobile No.
                </label>
                <input type="number" class="regi_inpu" name="altphone" id="altmob" value="{{address.alternate_mobile}}"
                    placeholder="Enter Alternate Mobile">
                <div class="error alert-error" id="alterr_phone" style="display:none;"></div>
            </div>
            {% endif %}
        </div>
        <!--address-end-->
        <br>
        <!--<div class="row kycbg-bg">
            <div class="col-md-12">
                <div class="head_new">

                </div>
                    <div class="text-center">
                        <a style=" " class="btn btn-link text-center" href="{% url 'show_cart' %}?skip_kyc=Y">Skip for now </a>
                    </div>
            </div>
        </div>-->
        <!--<div class="row kycbg-bg">
            <div class="col-md-12">
                <div class="head_new">
                    Manual Verification
                </div>
            </div>
            <div class=" container-fluid">
                <label for="panno" class="">Manual Verification</label>

                <select class="form-control" id="is_parent_category" name="manual_verify">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
                <div class="error alert-error" id="kyc_pan_no" style="display:none;"></div>
            </div>
        </div>-->


        <!--submit-->
        <div class="row form-footer">
            <div class="col-md-12">
                <span>* Required</span>
                <input type="submit" class="btn btn-secondary btn-lg pull-right regibtn_btn" name="submit" id="submit"
                    value="UPDATE PROFILE" onclick="a();">
                <!--<input type="submit" class="btn btn-secondary btn-lg pull-right regibtn_btn" name="email_submit"
                    id="email_submit" value="Change Email" onclick="a();">
                <input type="submit" class="btn btn-secondary btn-lg pull-right regibtn_btn" name="number_submit"
                    id="number_submit" value="Change Number" onclick="a();">-->
                <!-- <button type="button" class="btn btn-secondary btn-lg pull-right regibtn_btn">Complete Registration</button> -->
            </div>
        </div>
        <!--end-->
    </form>
</div>

{% endblock %}
{% block extra_scripts %}
<!--<script>-->
<!-- $('document').ready(function(){-->
<!-- var mobile_state = false;-->
<!-- var email_state = false;-->
<!-- $('#mobile').on('blur', function(){-->
<!--  var mobile = $('#mobile').val();-->
<!--  if (mobile == '') {-->
<!--  	mobile_state = false;-->
<!--  	return;-->
<!--  }-->
<!--  $.ajax({-->
<!--    url: '/ajax/validate_mobile/',-->
<!--    type: 'get',-->
<!--    data: {-->
<!--    	'mobile' : mobile,-->
<!--    },-->
<!--    success: function(response){-->
<!--      if (response.code == 200 ) {-->
<!--      	mobile_state = false;-->
<!--      	$('#err_mobile').html('Mobile Number already exists.');-->
<!--		$("#err_mobile").css("display", "block");-->
<!--		$('#err_mobile').fadeIn();-->
<!--		$('#err_mobile').show();-->
<!--      }else if (response.code == 400) {-->
<!--&lt;!&ndash;        alert('response code 400 h');&ndash;&gt;-->
<!--        $('#err_mobile').hide();-->
<!--      	mobile_state = true;-->
<!--      }-->
<!--    }-->
<!--  });-->
<!-- });-->

<!-- $('#my-form').submit(function(){-->
<!--    var error_fname = false;-->
<!--     var error_birthday = false;-->
<!--     var error_email = false;-->
<!--     var error_house = false;-->
<!--     var error_pass = false;-->
<!--     var error_city = false;-->
<!--     var error_pincode = false;-->
<!--     var error_mobile = false;-->
<!--     var error_email_check = false;-->
<!--     var error_mobile_check = false;-->
<!--     var data1 = true;-->

<!--     var fname = $("#id_firstname").val()-->
<!--      if ( fname !== '') {-->
<!--      $("#e_fname").hide();-->
<!--      } else {-->
<!--         $("#e_fname").html("This field is required");-->
<!--         $("#e_fname").show();-->
<!--         error_fname = true;-->
<!--      }-->
<!--      var birthday = $("#id_birthday").val().length;-->
<!--      if (birthday != '' ) {-->
<!--      $("#err_birthday").hide();-->
<!--      } else {-->
<!--         $("#err_birthday").html("This field is required");-->
<!--         $("#err_birthday").show();-->
<!--         error_birthday = true;-->
<!--      }-->
<!--      var house = $("#house").val()-->
<!--      if (house !== '') {-->
<!--         $("#err_house").hide();-->
<!--      } else {-->
<!--         $("#err_house").html("This field is required");-->
<!--         $("#err_house").show();-->
<!--         error_house = true;-->
<!--      }-->
<!--      var referral_code = $("#id_referral_code").val()-->
<!--      if (referral_code !== '') {-->
<!--      $("#err_referral_code").hide();-->
<!--      } else {-->
<!--         $("#err_referral_code").html("This field is required");-->
<!--         $("#err_referral_code").show();-->
<!--         error_referral_code = true;-->
<!--      }-->
<!--      var house = $("#house").val()-->
<!--      if (house !== '') {-->
<!--         $("#err_house").hide();-->
<!--      } else {-->
<!--         $("#err_house").html("This field is required");-->
<!--         $("#err_house").show();-->
<!--         error_house = true;-->
<!--      }-->
<!--      var pass_length = $("#id_password").val().length;-->
<!--      if(pass_length < 8) {-->
<!--         $("#e_pass").html("Atleast 8 Characters");-->
<!--         $("#e_pass").show();-->
<!--         error_pass = true;-->
<!--      } else {-->
<!--         $("#e_pass").hide();-->
<!--         }-->
<!--      var pass = $("#id_password").val().length;-->
<!--      var cnfpass = $("#id_confirmPassword").val().length;-->
<!--      if(pass != cnfpass) {-->
<!--         $("#e_cnfpass").html("Password is not match");-->
<!--         $("#e_cnfpass").show();-->
<!--         error_pass = true;-->
<!--      } else {-->
<!--         $("#e_cnfpass").hide();-->
<!--         }-->
<!--      var city = $("#city").val()-->
<!--      if (city !== '') {-->
<!--         $("#err_city").hide();-->
<!--      } else {-->
<!--         $("#err_city").html("This field is required");-->
<!--         $("#err_city").show();-->
<!--         error_city = true;-->
<!--      }-->
<!--      var pincode = $("#pincode").val()-->
<!--      if (pincode !== '') {-->
<!--      $("#err_pincode").hide();-->
<!--      } else {-->
<!--         $("#err_pincode").html("This field is required");-->
<!--         $("#err_pincode").show();-->
<!--         error_pincode = true;-->
<!--      }-->
<!--      var mobile = $("#mobile").val().length;-->
<!--      if (mobile < 11 && mobile > 9) {-->
<!--         $("#err_mobile").hide();-->
<!--      } else {-->
<!--         $("#err_mobile").html("Mobile number must contain 10 digit");-->
<!--         $("#err_mobile").show();-->
<!--         error_mobile = true;-->
<!--      }-->
<!--&lt;!&ndash;    alert('submit');&ndash;&gt;-->
<!--&lt;!&ndash; 	alert(mobile_state);&ndash;&gt;-->
<!--&lt;!&ndash; 	alert(email_state);&ndash;&gt;-->
<!-- 	if (mobile_state == false || email_state == false || error_fname === true || error_birthday === true || error_email === true  || error_house === true || error_pass == true || error_city === true || error_pincode === true) {-->
<!--	   $('body, html').animate({scrollTop:$('#my-form').offset().top}, 'slow');-->
<!--	  return false;-->
<!--	}else{-->
<!--      // proceed with form submission-->
<!--       return true;-->
<!-- 	}-->
<!-- });-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--$("#pincode").on("keypress keyup blur",function (event) {-->
<!--   $(this).val($(this).val().replace(/[^\d].+/, ""));-->
<!--   var pincode = $("#pincode").val().length;-->
<!--    if ((event.which < 48 || event.which > 57)) {-->
<!--        event.preventDefault();-->
<!--    }-->
<!--    if (( pincode > 5)){-->
<!--        event.preventDefault();-->
<!--    }-->
<!--});-->
<!--</script>-->
<!--<script>-->
<!--$("#mobile").on("keypress keyup blur",function (event) {-->
<!--   $(this).val($(this).val().replace(/[^\d].+/, ""));-->
<!--   var mobile = $("#mobile").val().length;-->
<!--    if ((event.which < 48 || event.which > 57)) {-->
<!--        event.preventDefault();-->
<!--    }-->
<!--    if (( mobile > 9)){-->
<!--        event.preventDefault();-->
<!--    }-->
<!--});-->
<!--</script>-->
<!--<script>-->

<!--$(document).ready(function() {-->
<!--    $( "#ageid").prop('checked', true);-->
<!--    $( "#deid").prop('checked', true);-->
<!--    $( "#declaration").prop('checked', true);-->
<!--});-->
<!--</script>-->
<!--<script>-->
<!--$('#id_referral_code').change(function () {-->
<!--			$('#erro_referral_code').hide();-->
<!--			var erro_referral_code = false;-->
<!--				var ref_legth = $('#id_referral_code').val().length;-->
<!--				var referral_code = $(this).val();-->
<!--				if (ref_legth == 0) {-->
<!--					$('#erro_referral_code').html('please enter name');-->
<!--					$("#erro_referral_code").css("display", "block");-->
<!--					$('#erro_referral_code').fadeIn();-->
<!--					$('#erro_referral_code').show();-->
<!--					var erro_firstname = true;-->
<!--					$('#submit').attr('disabled',true);-->
<!--				}-->
<!--				else {-->
<!--					$('#erro_referral_code').hide();-->
<!--					$('#submit').attr('disabled',false);-->
<!--				}-->
<!--				$.ajax({-->
<!--				url: '/ajax/validate_ref/',-->
<!--				data: {-->
<!--					'referral_code': referral_code-->
<!--				},-->
<!--				dataType: 'json',-->
<!--				success: function (data) {-->
<!--					if (data.ref_by) {-->
<!--						// alert("A user with this username already exists.");-->
<!--						$('#error_firstname').html('');-->
<!--					$("#error_firstname").css("display", "block");-->
<!--					$('#error_firstname').fadeIn();-->
<!--					$('#error_firstname').show();-->
<!--					var erro_firstname = true;-->
<!--					$('#submit').attr('disabled',true);-->
<!--					}-->
<!--				}-->
<!--			});-->
<!--			});-->

<!--			$('#id_referral_code').focusout(function () {-->
<!--				var referall_code = $(this).val();-->
<!--				$("#err_referral_code").hide()-->
<!--				let aa='';-->
<!--				$.ajax({-->
<!--				url: '/ajax/validate_ref/',-->
<!--				data: {-->
<!--					'referall_code': referall_code-->
<!--				},-->
<!--				dataType: 'json',-->
<!--				success: function(data){-->
<!--				    console.log(data.refer_by)-->
<!--					if (data.code === 200) {-->
<!--					    aa = data.refer_by-->
<!--				        $("#referral_code_id").hide();-->
<!--				        $("#referral_user").css("display", "block");-->
<!--				        $("#id_referral_user").append(aa);-->
<!--					}else if(data.code === 404){-->
<!--						$('#err_referral_code').html('Reference Not matched');-->
<!--					    $("#err_referral_code").css("display", "block");-->
<!--					    $("#err_referral_code").show()-->
<!--					    $('#submit').attr('disabled',true);-->

<!--					}else{-->
<!--					    $('#err_referral_code').html('Reference Not matched');-->
<!--					    $("#err_referral_code").css("display", "block");-->
<!--					    $("#err_referral_code").show();-->
<!--					    $('#submit').attr('disabled',true);-->
<!--					}-->


<!--				},-->
<!--				error: function (error) {-->
<!--						console.log(error);-->

<!--					}-->
<!--				});-->
<!--			});-->

<!--	</script>-->
<!--<script>-->

<!--   $("#id_firstname").focusout(function(){-->
<!--   check_fname();-->
<!--   });-->
<!--   $("#id_birthday").focusout(function(){-->
<!--   check_birthday();-->
<!--   });-->
<!--   $("#id_email").focusout(function(){-->
<!--   check_email();-->
<!--   });-->
<!--   $("#id_referral_code").focusout(function(){-->
<!--   check_referral_code();-->
<!--   });-->
<!--   $("#house").focusout(function(){-->
<!--   check_house();-->
<!--   });-->
<!--   $("#id_password").focusout(function() {-->
<!--   check_pass();-->
<!--   });-->
<!--   $("#id_confirmPassword").focusout(function() {-->
<!--   check_cnfpass();-->
<!--   });-->
<!--   $("#city").focusout(function() {-->
<!--   check_city();-->
<!--   });-->
<!--   $("#pincode").focusout(function() {-->
<!--   check_pincode();-->
<!--   });-->
<!--   $("#mobile").focusout(function() {-->
<!--   check_mobile();-->
<!--   });-->

<!--   function check_fname() {-->
<!--      var fname = $("#id_firstname").val()-->
<!--      if ( fname !== '') {-->
<!--      $("#e_fname").hide();-->
<!--      } else {-->
<!--         $("#e_fname").html("This field is required");-->
<!--         $("#e_fname").show();-->
<!--         error_fname = true;-->
<!--      }-->
<!--   }-->
<!--   function check_birthday() {-->
<!--      var birthday = $("#id_birthday").val().length;-->
<!--      if (birthday != '' ) {-->
<!--      $("#err_birthday").hide();-->
<!--      } else {-->
<!--         $("#err_birthday").html("This field is required");-->
<!--         $("#err_birthday").show();-->
<!--         error_birthday = true;-->
<!--      }-->
<!--   }-->
<!--   function check_house() {-->
<!--      var house = $("#house").val()-->
<!--      if (house !== '') {-->
<!--         $("#err_house").hide();-->
<!--      } else {-->
<!--         $("#err_house").html("This field is required");-->
<!--         $("#err_house").show();-->
<!--         error_house = true;-->
<!--      }-->
<!--   }-->
<!--   function check_city() {-->
<!--      var city = $("#city").val()-->
<!--      if (city !== '') {-->
<!--         $("#err_city").hide();-->
<!--      } else {-->
<!--         $("#err_city").html("This field is required");-->
<!--         $("#err_city").show();-->
<!--         error_city = true;-->
<!--      }-->
<!--   }-->
<!--   function check_mobile() {-->
<!--      var mobile = $("#mobile").val().length;-->
<!--      if (mobile < 11 && mobile > 9) {-->
<!--         $("#err_mobile").hide();-->
<!--      } else {-->
<!--         $("#err_mobile").html("Mobile number must contain 10 digit");-->
<!--         $("#err_mobile").show();-->
<!--         error_mobile = true;-->
<!--      }-->
<!--   }-->
<!--   function check_referral_code() {-->
<!--      var referral_code = $("#id_referral_code").val()-->
<!--      if (referral_code !== '') {-->
<!--      $("#err_referral_code").hide();-->
<!--      } else {-->
<!--         $("#err_referral_code").html("This field is required");-->
<!--         $("#err_referral_code").show();-->
<!--         error_referral_code = true;-->
<!--      }-->
<!--   }-->
<!--   function check_pincode() {-->
<!--      var pincode = $("#pincode").val()-->
<!--      if (pincode !== '') {-->
<!--      $("#err_pincode").hide();-->
<!--      } else {-->
<!--         $("#err_pincode").html("This field is required");-->
<!--         $("#err_pincode").show();-->
<!--         error_pincode = true;-->
<!--      }-->
<!--   }-->
<!--   function check_email() {-->
<!--    var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;-->
<!--    var email = $("#id_email").val();-->
<!--    if ( pattern.test(email) && email !== '') {-->
<!--      $("#errr_email").hide();-->
<!--      } else {-->
<!--      $("#errr_email").html("invalid Email");-->
<!--      $("#errr_email").show();-->
<!--      error_email = true;-->
<!--      }-->
<!--    }-->
<!--    function check_pass() {-->
<!--      var pass_length = $("#id_password").val().length;-->
<!--      if(pass_length < 8) {-->
<!--         $("#e_pass").html("Atleast 8 Characters");-->
<!--         $("#e_pass").show();-->
<!--         error_pass = true;-->
<!--      } else {-->
<!--         $("#e_pass").hide();-->
<!--         }-->
<!--      }-->
<!--    function check_cnfpass() {-->
<!--      var pass = $("#id_password").val().length;-->
<!--      var cnfpass = $("#id_confirmPassword").val().length;-->
<!--      if(pass != cnfpass) {-->
<!--         $("#e_cnfpass").html("Password is not match");-->
<!--         $("#e_cnfpass").show();-->
<!--         error_pass = true;-->
<!--      } else {-->
<!--         $("#e_cnfpass").hide();-->
<!--         }-->
<!--      }-->
<!--</script>-->

<!--{% endblock extra_scripts %}-->
